﻿
@{
    ViewBag.Title = "Consolidado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    
}
@section js{
    <script src="~/vendor/dataTables/dataTables.buttons.min.js"></script>
    <script src="~/vendor/dataTables/jszip.min.js"></script>
    <script src="~/vendor/dataTables/buttons.html5.min.js "></script>    
    <script src="~/js/Reportes/ReporteConsolidado.js"></script>

}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Consolidado","Reportes")"><h2> Reporte Consolidado </h2>  </a>
    </li>
</ol>

<div class="card mb-3 espacioVertical">

    <div class="card-header">
        <div class="row">
            <h4 class="col-md-12">Resumen </h4>
        </div>
    </div>

    <div class="card-body">
        <div class="row">

            <div class="col-sm-12">
                <table id="tblReporteConsolidado" class="table table-bordered table-sm table-responsive" width="100%"></table>
            </div>
        </div>
    </div>

    <div class="card-footer">

        <div class="row">
            <label id="txtDescripcion" class="col-md-12">@ViewBag.descripcion</label>
        </div>

    </div>

</div>