﻿
@{
    ViewBag.Title = "Indicadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Indicadores</h2>

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    using (@Html.BeginForm("UploadIndicadores", "Reportes", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group row">
            <label for="txtFecha" class="col-sm-1 col-form-label">Fecha:</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="txtFecha" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-1 col-form-label">Archivo:</label>
            <div class="col-sm-2">
                <input type="file" name="file" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Cargar Indicadores" />
            </div>
        </div>
    }
}


