﻿.top-space5 {
    margin-top: 5px;
}
.top-space10 {
    margin-top: 10px;
}
.top-space {
    margin-top: 20px;
}
.top-space30 {
    margin-top: 30px;
}
.top-space50 {
    margin-top: 50px;
}

.breadcrumb {
    /*background-color: #ffffff;
    border: 2px solid #e9ecef;*/
    font-size: 12px;
    padding: .30rem 1rem;
}
.titlePage {
    /*margin-left: 15px;*/
}
.inputBlank {
    background-color: transparent;
    border: 0px solid;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}


/** SPINNER CREATION **/
.loader {
  position: relative;
  text-align: center;
  margin: 5px auto 5px auto;
  z-index: 9999;
  display: block;
  width: 40px;
  height: 40px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


.dt-buttons {
    text-align:right;
    padding-bottom:10px;
}