﻿body {
}

.menuContextual {
    color: black !important;
}

.titulo {
    font-size: 1.17em
}

.subTitulo {
    font-size: 1.2em;
    
}

.tituloCanvas {
    background-color: darkgray;
    border: 1px;
    border-color: black;
    border-style: solid;
}
.contenedorCanvasGrande {
    
    height:504px;
    border: 1px;
    border-color: black;
    border-style: solid;
}
.contenedorCanvasSmall {
    height: 234px;    
    border: 1px;
    border-color: black;
    border-style: solid;
}
.contenedorCanvasLarge {
    width:50%;
    background-color: cornflowerblue;
    border: 1px;
    border-color: black;
    border-style: solid;
    
}