﻿
@{string urlEmprende = System.Configuration.ConfigurationManager.AppSettings["urlEmprende"];}
@{string SITEROOT = System.Configuration.ConfigurationManager.AppSettings["SITEROOT"];}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="@urlEmprende/css/sb-admin.css" rel="stylesheet" />
    <link href="@urlEmprende/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@urlEmprende/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="@urlEmprende/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="index.html">
            <img src="~/Images/TEST.jpg" style="width:100px;" />
        </a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Search -->
        @*<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>*@
        <!-- Navbar -->
        @*<ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <span class="badge badge-danger">9+</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <span class="badge badge-danger">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                    </div>
                </li>
            </ul>*@
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="@SITEROOT/Dashboard/Index">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Panel</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@SITEROOT/Pagos/PagosTotales">
                    <i class="fas fa-fw fa-check"></i>
                    <span>Pagos</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@SITEROOT/Deudas/Index">
                    <i class="fas fa-fw fa-suitcase"></i>
                    <span>Cartera</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@SITEROOT/Reportes/Cosechas">
                    <i class="fas fa-fw fa-file"></i>
                    <span>Reporte Cosechas</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@SITEROOT/Pagos/CargarPagos">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Cargar Pagos</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@SITEROOT/Deudas/Corte">
                    <i class="fas fa-fw fa-calendar"></i>
                    <span>Crear Corte</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Descargar Archivo Pague Ya</span>
                </a>
            </li>
        </ul>

        <div id="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Cobranza 2018</span>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Libreria de css-->
    <script type="text/javascript">
        var SITEROOT = '@System.Configuration.ConfigurationManager.AppSettings["SITEROOT"]';
    </script>

    <script src="@urlEmprende/vendor/jquery/jquery.min.js"></script>
    <script src="@urlEmprende/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="@urlEmprende/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="@urlEmprende/vendor/toastr/toastr.min.js"></script>
    <script src="@urlEmprende/vendor/datatables/jquery.dataTables.js"></script>
    <script src="@urlEmprende/vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="@urlEmprende/js/sb-admin.min.js"></script>
    <script src="@urlEmprende/js/htclib.js"></script>
    @RenderSection("js", required: false)
</body>
</html>
