﻿
@{
    ViewBag.Title = "Capacitacion";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
    var convocatoria = ViewBag.postulacion.CON_convocatorias;
}

<h2>Capacitación</h2>

@Html.Partial("_encabezado")

<div>
    <input type="hidden" id="txtIdPostulacion" value="@ViewBag.postulacion.id" />
    <input type="hidden" id="txtIdRequisito" value="@ViewBag.idRequisito" />
</div>


<div class="row">
    <div class="col">
        <p>Requisitos de capacitaciones: @convocatoria.capacitacion</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-file-word"></i>
                Cargar aquí los certificados o respaldos de capacitaciones
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlSubirArchivos"><i class="fas fa-file-upload"></i> Subir archivos</button>
                    </div>
                </div>
                <div class="row top-space">
                    <div class="col">
                        <table id="tblArchivosCapacitacion" class="table table-bordered dataTable"></table>
                        <div id="dvInfoEmpty" class="alert alert-info" role="alert">
                            No existen archivos subidos
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right">
        <button id="btnTerminar" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Completado</button>
    </div>
</div>
<br />


<!-- Modal -->
<div class="modal fade" id="mdlSubirArchivos" tabindex="-1" role="dialog" aria-labelledby="mdlSubirArchivosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subir archivos de capacitación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="fileArchivosComiteGrupo">Archivos: </span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileArchivosCapacitacion" aria-describedby="fileArchivosCapacitacionGrupo" multiple>
                                <label class="custom-file-label" for="fileArchivosCapacitacion">...</label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div id="dvListaArchivos" class="col">

                    </div>
                </div>
                <div class="row top-space10">
                    <div class="col">
                        <input id="txtObservacionesArchivos" class="form-control" type="text" placeholder="Observaciones (opcional)">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btnSubirArchivos" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Subir</button>
            </div>
        </div>
    </div>
</div>

@section js{
    <script src="~/js/RequisitosPostulante/capacitacion.js"></script>
}