﻿
@{
    ViewBag.Title = "Inversion";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@section css{


}
@section js{
    <script src="~/js/MatrizInversion/MatrizInversion.js"></script>
}

@Html.Partial("_encabezado")



<div class="row">
    <label class="col-sm-12">
        Por favor explique en forma resumida para qué necesita la inversión:
    </label>
    <textarea id="txtResumenInversion" rows="2" class="col-sm-6" style="margin-left:15px" placeholder="Escriba su respuesta."></textarea>
</div>

<input id="txtIdRequisito" type="hidden" value="@ViewBag.idRequisito" />

<div class="card mb-3 espacioVertical">
    <div class="card-header">
        <div class="row">
            <h3 class="col-sm-12"></h3>
        </div>
    </div>

    <div class="card-body">
        <div class="row top-space">
            <div class="col-sm-12">
                <div class="row ">
                    +

                    Ingrese los activos en los que hayan invertido en su emprendimiento y aquellos activos y/o servicios nuevos para los que se necesita inversión.
                    (Ingrese la información de forma resumida ej. "Maquinaria" y no muy detallada)
                    <div class="col text-left espacioVertical">
                        <button class="btn btn-primary" id="btnAgregarItemInversion" type="button" data-toggle="modal" data-target="#modalItemInversion"> <i class="fa fa-plus-circle"></i> Agregar Inversión</button>
                    </div>
                </div>
                <table id="tblMatrizInversion" class="table table-bordered espacioVertical" width="100%">
                    <thead>
                        <tr>
                            <th>Prio.</th>
                            <th>Recurso</th>
                            <th>Justificación</th>
                            <th>Precio Unitario</th>
                            <th>Cant.</th>
                            <th>Total</th>
                            <th>Aporte Propio</th>
                            <th>Aporte Solicitado</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="card-footer ">
        <div class="row ">

            <div class="col-sm-12 text-right">
                <button id="btnTerminarMatrizInversion" class="btn btn-primary">Completado</button>
            </div>

        </div>
    </div>

</div>

<!-- Modal Item Inversion-->
<div class="modal fade" id="modalItemInversion" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Datos Inversión</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    @*<label for="txtidDeudorAgregarPago" class="col-md-3 col-md-offset-1 control-label">Deudor:</label>*@
                    <div class="col-md-7">
                        <input type="hidden" id="txtIdPostulacion" class="form-control" value="@ViewBag.postulacion.id" />
                    </div>
                    <div class="col-md-7">
                        <input type="hidden" id="txtIdItem" class="form-control" value="0" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="slsTipoItem" class="col-md-11 col-md-offset-1 control-label">Tipo de activo:</label>
                    <div class="col-md-12">
                        <select id="slsTipoItem" class="form-control">
                            <option value="0">Activo con que ya cuenta mi emprendimiento</option>
                            <option value="1">Activo/servicio para el que necesitamos inversión</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="slsTipoInversion" class="col-md-11 col-md-offset-1 control-label">Tipo de Inversión:</label>
                    <div class="col-md-12">
                        <select id="slsTipoInversion" class="form-control">
                            <option value="1">Maquinaria</option>
                            <option value="2">Sueldos</option>
                            <option value="3">Servicios</option>
                            <option value="4">Materia Prima</option>
                            <option value="5">Certificaciones/Patentes</option>
                            <option value="6">Marketing</option>
                            <option value="7">Edificaciones</option>
                            <option value="8">Adecuaciones</option>
                            <option value="9">Inventario Producto</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group noPosee" style="display:none">
                    <label for="txtPrioridad" class="col-md-3 col-md-offset-1 control-label">Prioridad:</label>
                    <div class="col-md-7">
                        @*<input type="number" min="1" max="3" id="txtPrioridad" class="form-control" value="0" />*@
                        <select id="txtPrioridad" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtRecurso" class="col-md-3 col-md-offset-1 control-label">Recurso:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtRecurso" class="form-control" />
                    </div>

                </div>
                <div class="row form-group noPosee" style="display:none">
                    <label for="txtJustificacion" class="col-md-3 col-md-offset-1 control-label">Justificación:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtJustificacion" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtPrecioUnitario" class="col-md-3 col-md-offset-1 control-label">Precio Unitario:</label>
                    <div class="col-md-7">
                        <input type="number" id="txtPrecioUnitario" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtCantidad" class="col-md-3 col-md-offset-1 control-label">Cantidad:</label>
                    <div class="col-md-7">
                        <input type="number" id="txtCantidad" class="form-control" />
                    </div>
                </div>

                @*<div class="row form-group">
                        <label for="txtTotal" class="col-md-3 col-md-offset-1 control-label">Total:</label>
                        <div class="col-md-7">
                            <input type="text" id="txtTotal" class="form-control" />
                        </div>

                    </div>*@
                @*<div class="row form-group">
                        <label for="txtAportePropio" class="col-md-3 col-md-offset-1 control-label">Aporte propio:</label>
                        <div class="col-md-7">
                            <input type="text" id="txtAportePropio" class="form-control" />
                        </div>
                    </div>*@

                @*<div class="row form-group">
                        <label for="txtAporteInversion" class="col-md-3 col-md-offset-1 control-label">Aporte Inversión:</label>
                        <div class="col-md-7">
                            <input type="text" id="txtAporteInversion" class="form-control" />
                        </div>

                    </div>*@

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="borrarItemInversion" type="button" class="btn btn-danger" data-dismiss="modal">Borrar Item</button>
                <button id="btnGuardarItemInversion" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>