﻿
@{
    ViewBag.Title = "ModeloNegocio";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@section js{
    <script src="~/js/ModeloNegocio/ModeloNegocio.js"></script>
}

@Html.Partial("_encabezado")

<div>
    <input id="txtIdRequisito" type="hidden" value="@ViewBag.idRequisito" />
    <input id="txtIdPostulacion" type="hidden" value="@ViewBag.postulacion.id" />
</div>

<div class="form-row">
    <h4 class="col-sm-12 ">
        Resumen Ejecutivo del emprendimiento
    </h4>
    <div class="col-sm-6">
        <textarea id="txtBriefEmprendimiento" rows="2" class=" form-control" placeholder="Escriba su respuesta.">@ViewBag.emprendimiento.brief</textarea>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h4>Datos del emprendimiento</h4>
        <h5>Número actual de: </h5>
    </div>
</div>


<div class="form-row">
    <div class="form-group col-md-3">
        <label>Trabajadores Directos</label>
    </div>
    <div class="form-group col-md-3">
        <label>Proveedores</label>
    </div>
    <div class="form-group col-md-3">
        <label>Clientes</label>
    </div>
    <div class="form-group col-md-3">
        <label>Consumidores</label>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3">
        <input type="number" class="form-control text-right" id="txtNumEmpleados" value="@ViewBag.emprendimiento.NumEmpleados">
    </div>
    <div class="form-group col-md-3">
        <input type="number" class="form-control text-right" id="txtNumProveedores" value="@ViewBag.emprendimiento.NumProveedores">
    </div>
    <div class="form-group col-md-3">
        <input type="number" class="form-control text-right" id="txtNumClientes" value="@ViewBag.emprendimiento.NumClientes">
    </div>
    <div class="form-group col-md-3">
        <input type="number" class="form-control text-right" id="txtNumConsumidores" value="@ViewBag.emprendimiento.NumConsumidores">
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <button id="btnGuardarCamposEmprendimiento" class="btn btn-primary">Guardar Datos Emprendimiento</button>
    </div>
</div>

<div class="card mb-3 espacioVertical">
    <div class="card-header">
        <div class="row">
            <h3 class="col-sm-12"> Modelo Canvas</h3>
        </div>
    </div>

    <div class="card-body">
        <div class="row top-space">
            <div class="col-sm-12 text-left">
                Favor complete el cuadro haciendo clic en cada sección.
            </div>
            <div class="col-sm-12 espacioVertical">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="row ">
                            <div class="col-sm-12 tituloCanvas">
                                <label>Socios Clave</label>
                            </div>
                            <div class="col-sm-12 contenedorCanvasGrande seleccionarSeccion" id="7" style="cursor:pointer">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 tituloCanvas">
                                        <label>Actividades Clave</label>
                                    </div>
                                    <div class="col-sm-12 contenedorCanvasSmall seleccionarSeccion" id="5" style="cursor:pointer">

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 tituloCanvas">
                                        <label>Recursos Clave</label>
                                    </div>
                                    <div class="col-sm-12 contenedorCanvasSmall seleccionarSeccion" id="6" style="cursor:pointer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12 tituloCanvas">
                                <label>Propuesta de Valor</label>
                            </div>
                            <div class="col-sm-12 contenedorCanvasGrande seleccionarSeccion" id="1" style="cursor:pointer">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 tituloCanvas">
                                        <label>Relaciones con Clientes</label>
                                    </div>
                                    <div class="col-sm-12 contenedorCanvasSmall seleccionarSeccion" id="2" style="cursor:pointer">

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 tituloCanvas">
                                        <label>Canales</label>
                                    </div>
                                    <div class="col-sm-12 contenedorCanvasSmall seleccionarSeccion" id="3" style="cursor:pointer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12 tituloCanvas">
                                <label>Segmento de Clientes</label>
                            </div>
                            <div class="col-sm-12 contenedorCanvasGrande seleccionarSeccion" id="4" style="cursor:pointer">

                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 tituloCanvas">
                                    <label>Costos</label>
                                </div>
                                <div class="col-sm-12 contenedorCanvasLarge seleccionarSeccion" id="9" style="cursor:pointer">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 tituloCanvas">
                                    <label>Fuente de Ingresos</label>
                                </div>
                                <div class="col-sm-12 contenedorCanvasLarge seleccionarSeccion" id="8" style="cursor:pointer">

                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer ">
        <div class="row ">

            @*<div class="col-sm-6 text-right">
                    <button id="btnImprimirCanvas" class=" btn btn-success">Imprimir</button>
                </div>*@
            <div class="col-sm-12 text-right">
                <button id="btnTerminarCanvas" class="btn btn-primary">Completado</button>
            </div>
        </div>
    </div>

</div>

<!-- Modal Item Canvas-->
<div class="modal fade " id="modalRespondeCanvas" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <label id="txtSeccion"> Titulo seccion </label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">
                <input id="txtIdPregunta" type="hidden" />
                <p id="txtTextoGuia">

                </p>

                Responda de forma resumida:
                <textarea id="txtRespuesta" rows="5" style="width:100%" maxlength="300" placeholder="Describa en base a su modelo de negocio"></textarea>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnCerrarModal" type="button" class="btn " data-dismiss="modal">Cerrar</button>
                <button id="btnGuardarCanvas" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>