﻿
@{
    ViewBag.Title = "PerfilEmprendedor";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

<h2>PerfilEmprendedor</h2>

@section js{
    <script src="~/js/RequisitosPostulante/perfil.js"></script>
<script src="~/js/SCO/Scoring.js"></script>
}

<div style="display:none">
    <input type="text" id="txtIdPostulacion" name="txtIdPostulacion" value="@ViewBag.idPostulacion">
    <input type="text" id="txtIdRequisito" name="txtIdRequisito" value="@ViewBag.idRequisito">
</div>

@Html.Partial("_encabezado")

<div class="row">
    <div class="col-12">
        Este test pretende orientarlo sobre sus características emprendedoras.
        Para realizarlo, ha de puntuar de "0" a "6" grados cada una de las 60 frases que siguen a
        continuación.
        La puntuación "6" significa que la frase describe muy exactamente su personalidad y la "0"
        quiere decir que no se corresponde con sus características.
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <div id="divQ2"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <button type="button" id="btnGuardarPerfil" class="btn btn-primary" onclick="guardarPerfil();"><i class="fa fa-save"></i> Guardar</button>
    </div>
</div>
<br />