﻿

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/css/sb-admin.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @RenderSection("css", required: false)
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="index.html">
            <img src="~/Images/TEST.jpg" style="width:100px;" />
        </a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar ..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i> Mi cuenta
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    @*<a class="dropdown-item" href="">Logout</a>*@
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {

                        @Html.AntiForgeryToken()
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>

                    }
                </div>
            </li>
        </ul>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav toggled">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Convocatorias","Convocatoria")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Convocatorias</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@System.Configuration.ConfigurationManager.AppSettings["SITE_COBRANZAS"]">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Cobranza</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@System.Configuration.ConfigurationManager.AppSettings["SITE_SEGUIMIENTO"]">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Seguimiento</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Indicadores","Reportes")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Cargar Indicadores</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Consolidado","Reportes")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Reporte Consolidado</span>
                </a>
            </li>
            <li class="nav-item arrow dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownAdministrar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-toolbox"></i>
                    <span>Administrar</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAdministrar">
                    <a class="dropdown-item" href="@Url.Action("Administrar","Comite")">Comite</a>
                    <a class="dropdown-item" href="#">Proveedores</a>
                    <a class="dropdown-item" href="@Url.Action("Administrar","Usuario")">Usuarios</a>

                </div>
            </li>
        </ul>

        <div id="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Emprendefe @DateTime.Today.Year</span>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Libreria de css-->
    <script type="text/javascript">
        var SITEROOT = '@System.Configuration.ConfigurationManager.AppSettings["SITEROOT"]';
    </script>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="~/js/sb-admin.min.js"></script>
    <script src="~/js/htclib.js"></script>
    <script src="~/js/Aplicacion/Aplicacion.js"></script>

    @RenderSection("js", required: false)
</body>
</html>
