﻿@{
    ViewBag.Title = "Complete su registro";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@section css{


}
@section js{

    <script src="~/js/Persona/Editar.js"></script>

}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Editar","Persona")"><h2>Datos Personales</h2></a>
    </li>
</ol>

Favor complete su información

<div class="row">
    <div class="col-sm-10 offset-sm-1">

        <!-- datos generales -->

        <div class="card mb-3 espacioVertical">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-sm-12"> Datos Personales </h3>
                </div>
            </div>

            <div class="card-body">

                <div class="row espacioVertical">
                    <label class="col-sm-2"> Tipo Documento:</label>
                    <select id="txtTipoDocumento" class="col-sm-4 form-control">
                        <option value="1">Cédula</option>
                        <option value="2">RUC</option>
                        <option value="3">Pasaporte</option>
                    </select>

                    <label class="col-sm-2">No. documento:</label>
                    <input id="txtCedulaPersona" class="col-sm-4 form-control" type="text" placeholder="Ejm: 1758632559" />

                </div>

                <div class="row espacioVertical">
                    <label class="col-sm-2"> 1er Nombre:</label>
                    <input id="txtNombre1Persona" class="col-sm-4 form-control" type="text" placeholder="Ejm: Juan" />

                    <label class="col-sm-2">2do Nombre:</label>
                    <input id="txtNombre2Persona" class="col-sm-4 form-control" type="text" placeholder="Opcional" />
                </div>
                <div class="row espacioVertical">
                    <label class="col-sm-2"> 1er Apellido:</label>
                    <input id="txtApellido1Persona" class="col-sm-4 form-control" type="text" placeholder="Ejm: Perez" />

                    <label class="col-sm-2">2do Apellido:</label>
                    <input id="txtApellido2Persona" class="col-sm-4 form-control" type="text" placeholder="Opcional" />
                </div>
                <div class="row espacioVertical">
                    <label class="col-sm-2"> Teléfono:</label>
                    <input id="txtTelefonoPersona" class="col-sm-4 form-control" type="text" placeholder="Ejm: 022 xxx xxx" />

                    <label class="col-sm-2"> Celular:</label>
                    <input id="txtCelularPersona" class="col-sm-4 form-control" type="text" placeholder="Ejm: 0983 xxx xxx" />
                </div>

                <div class="row espacioVertical">

                    <label class="col-sm-2"> Género:</label>
                    <select id="txtGeneroPersona" class="col-sm-4 form-control">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>

                    <label class="col-sm-2"> F. Nacimiento:</label>
                    <input id="txtFechaNacimientoPersona" class="col-sm-4 form-control" type="date" />

                </div>

                <div class="row espacioVertical">
                    <label class="col-sm-2">  Estado Civil: </label>
                    <select id="txtEstadoCivil" class="col-sm-4 form-control">
                        <option value="1">Soltero/a</option>
                        <option value="2">Casado/a</option>
                        <option value="3">Divorciado/a</option>
                        <option value="4">Viudo/a</option>
                        <option value="5">Separado/a</option>
                        <option value="6">Unión libre</option>
                    </select>

                    <label class="col-sm-2"> Nacionalidad:</label>
                    <select id="txtNacionalidadPersona" class="col-sm-4 form-control">
                        <option value="1">Ecuador</option>

                    </select>

                </div>

                <div class="row espacioVertical">
                    <label class="col-sm-2">  Nivel de educación: </label>
                    <select id="txtNivelEducacion" class="col-sm-4 form-control">
                        <option value="1">Primaria</option>
                        <option value="2">Secundaria</option>
                        <option value="3">Superior</option>
                    </select>

                </div>

            </div>

        </div>

        <!-- Direccion-->

        <div class="card mb-3 espacioVertical">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-sm-12"> Dirección  </h3>
                </div>
            </div>

            <div class="card-body">
                @*<div class="row ">
                        <label class="col-sm-2"> Descripcion: </label>
                        <input id="txtNombre" class="col-sm-4 form-control" placeholder="Ejm: Mi hogar" />

                    </div>*@
                <div class="row ">

                    <input id="txtIdDireccion" type="hidden" class="col-sm-12 form-control" value="0" />

                </div>
                <div class="row espacioVertical">
                    <label class="col-sm-2"> Provincia: </label>
                    <select id="txtProvincia" class="col-sm-4 form-control"></select>
                    <label class="col-sm-2"> Ciudad: </label>
                    <select id="txtCiudad" class="col-sm-4 form-control"></select>
                </div>

                <div class="row espacioVertical">
                    <label class="col-sm-2"> Parroquia: </label>
                    <select id="txtParroquia" class="col-sm-4 form-control"></select>
                    <label class="col-sm-2"> Barrio: </label>
                    <input id="txtBarrio" class="col-sm-4 form-control" placeholder="Ejm: La Mariscal" />
                </div>

                <div class="row espacioVertical">
                    <label class="col-sm-2"> Calle Principal: </label>
                    <input id="txtCallePrincipal" class="col-sm-4 form-control" />
                    <label class="col-sm-2"> Calle Secundaria: </label>
                    <input id="txtCalleSecundaria" class="col-sm-4 form-control" />
                </div>

                <div class="row espacioVertical">
                    <label class="col-sm-2"> Número: </label>
                    <input id="txtNumero" class="col-sm-4 form-control" placeholder="Ejm: 0e - 240" />
                    <label class="col-sm-2"> Referencia: </label>
                    <input id="txtReferencia" class="col-sm-4 form-control" placeholder="Ejm: Edificio Esquina" />
                </div>

                <div class="row espacioVertical">
                    <label class="col-sm-2"> Tipo de vivienda: </label>
                    <select id="txtTipoLugar" class="col-sm-4 form-control">
                        <option value="1">Propia</option>
                        <option value="2">De familiares</option>
                        <option value="3">Arrendado</option>
                        <option value="4">Otros</option>
                    </select>

                </div>

            </div>

        </div>

        @if (ViewBag.persona.datosCompletos)
        {
            if (ViewBag.persona.idConyuge != null)
            {
                <!-- Conyuge-->

                <div class="card mb-3 espacioVertical">
                    <div class="card-header">
                        <div class="row">
                            <h3 class="col-sm-12"> Conyuge  </h3>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="row ">

                            <input id="txtIdConyuge" type="hidden" class="col-sm-12 form-control" value="0" />

                        </div>

                        <div class="row espacioVertical">
                            <label class="col-sm-2"> Tipo Documento:</label>
                            <select id="txtTipoDocumentoConyuge" class="col-sm-4 form-control">
                                <option value="1">Cédula</option>
                                <option value="2">RUC</option>
                                <option value="3">Pasaporte</option>
                            </select>

                            <label class="col-sm-2">No. documento:</label>
                            <input id="txtCedulaConyuge" class="col-sm-4 form-control" type="text" placeholder="Ejm: 1758632559" />

                        </div>

                        <div class="row espacioVertical">
                            <label class="col-sm-2"> 1er Nombre:</label>
                            <input id="txtNombre1Conyuge" class="col-sm-4 form-control" type="text" placeholder="Ejm: Juan" />

                            <label class="col-sm-2">2do Nombre:</label>
                            <input id="txtNombre2Conyuge" class="col-sm-4 form-control" type="text" placeholder="Opcional" />
                        </div>
                        <div class="row espacioVertical">
                            <label class="col-sm-2"> 1er Apellido:</label>
                            <input id="txtApellido1Conyuge" class="col-sm-4 form-control" type="text" placeholder="Ejm: Perez" />

                            <label class="col-sm-2">2do Apellido:</label>
                            <input id="txtApellido2Conyuge" class="col-sm-4 form-control" type="text" placeholder="Opcional" />
                        </div>

                        <div class="row espacioVertical">

                            <label class="col-sm-2"> Nacionalidad:</label>
                            <select id="txtNacionalidadConyuge" class="col-sm-4 form-control">
                                <option value="1">Ecuador</option>
                            </select>

                            <label class="col-sm-2"> F. Nacimiento:</label>
                            <input id="txtFechaNacimientoConyuge" class="col-sm-4 form-control" type="date" />

                        </div>

                    </div>

                </div>

            }
            <!-- Referencias -->

            <div class="card mb-3 espacioVertical">
                <div class="card-header">
                    <div class="row">
                        <h3 class="col-sm-12"> Referencias  </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="col text-left">
                            <button class="btn btn-primary" id="btnAgregarReferencia" type="button" data-toggle="modal" data-target="#modalReferencia"> <i class="fa fa-plus-circle"></i> Agregar Referencia</button>
                        </div>
                    </div>
                    <table id="tblReferencias" class="table table-bordered espacioVertical" width="100%">
                        <thead>
                            <tr>
                                @*<th>Parentesco</th>*@
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Dirección</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        }





        <div class="row ">
            <div class="col text-right">
                <button id="btnGuardarPersona" class=" btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>

        <br />

    </div>
</div>


<!-- Modal Agregar Referencia-->
<div class="modal fade" id="modalReferencia" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Datos referencia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <div class="col-md-7">
                        <input type="hidden" id="txtIdReferencia" class="form-control" value="0" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtParentescoReferencia" class="col-md-3 col-md-offset-1 control-label">Parentesco:</label>
                    <div class="col-md-7">
                        <select type="text" id="txtParentescoReferencia" class="form-control">
                            <option value="1">Padre</option>
                            <option value="2">Madre</option>
                            <option value="3">Familia</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtNombreReferencia" class="col-md-3 col-md-offset-1 control-label">Nombre:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtNombreReferencia" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtTelefonoReferencia" class="col-md-3 col-md-offset-1 control-label">Teléfono:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtTelefonoReferencia" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtDireccionReferencia" class="col-md-3 col-md-offset-1 control-label">Dirección:</label>
                    <div class="col-md-7">
                        <textarea id="txtDireccionReferencia" rows="3" class="form-control"></textarea>
                    </div>

                </div>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="borrarReferencia" type="button" class="btn btn-danger" data-dismiss="modal">Borrar referencia</button>
                <button id="btnGuardarReferencia" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>