﻿@using Emprende.Models
@model LoginViewModel
@{
    ViewBag.Title = "Ingreso";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@section css{
<style>
    .lblCorreo {
        width: 63px !important;
        margin-left: 12px !important;
        padding-left: 0px !important;
    }

    .lblPassword {
        width: 52px !important;
        margin-left: 12px !important;
        padding-left: 0px !important;
    }
</style>
}
@section js{
    <script src="~/js/Account/Registro.js"></script>

}
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-center">Emprendefe - Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="form-label-group">
                            <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                            <label for="inputEmail">Email address</label>-->
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Correo", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            @Html.LabelFor(m => m.Email, new { @class = "lblCorreo" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                            <label for="inputPassword">Password</label>-->
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Clave", id = "txtContrasena" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            @Html.LabelFor(m => m.Password, new { @class = "lblPassword" })
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a id="mostrarContrasena"><i class="fa fa-eye-slash" aria-hidden="true"></i>Ver</a>
                        </div>
                        <div class="col text-right">
                            <div class="form-group">
                                <div class="checkbox">
                                    <!--<label>
                <input type="checkbox" value="remember-me">
                Remember Password
            </label>-->
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
                }
                <br />
                <div class="text-center">
                    <!--<a class="d-block small mt-3" href="register.html">Register an Account</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
                    <p>@Html.ActionLink("Registrarse como nuevo usuario", "Register")</p>
                    @*<p>@Html.ActionLink("¿Olvidó su clave?", "ForgotPassword")</p>*@
                </div>
            </div>
        </div>
