﻿@model Emprende.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@section css{

}
@section js{
    <script src="~/js/Account/Registro.js"></script>

}

<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header text-center">
                Emprendefe - Crear Cuenta
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Email, new { @class = "offset-md-1 col-md-2 control-label" })*@
                        <label class="offset-md-1 col-md-5 "> Correo Electrónico</label>
                        <div class="offset-md-1 col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "offset-md-1 col-md-2 control-label" })*@

                        <label class="offset-md-1 col-md-5 "> Contraseña </label>
                        <div class="offset-md-1 col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id ="txtContrasena" })
                            <a id="mostrarContrasena" ><i class="fa fa-eye-slash" aria-hidden="true"></i>Ver</a>
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "offset-md-1 col-md-2 control-label" })*@
                        <label class="offset-md-1 col-md-5 "> Verifica tu contraseña</label>
                        <div class="offset-md-1 col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>

                    @*<div class="form-group" >
                            @Html.LabelFor(m => m.UserRoles, new { @class = " offset-md-1 col-md-2 control-label" })
                            <div class="offset-md-1 col-md-10">
                                @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name," ")
                            </div>
                        </div>*@


                    @*<div class="form-group">
                            @Html.LabelFor(m => m.idPersona, new { @class = "offset-md-1 col-md-2 control-label" })
                            <div class="offset-md-1 col-md-10">
                                @Html.TextBoxFor(m => m.idPersona, new { @class = "form-control" })
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="offset-md-1 col-md-10">
                            <input type="submit" class="btn btn-primary btn-block" value="Registrarse" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</body>

