﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="datosSolicitud.ascx.vb" Inherits="SACFinca.datosSolicitud" %>


<link href="../css/Estilos.css" rel="stylesheet" type="text/css" />
<table cellpadding="0" cellspacing="0" width="100%" class="bordes">
    <tr>
        <td class="grdTitulo">
            &nbsp;
            Datos Generales</td>
    </tr>
    <tr>
        <td style="background-color: #eeeeee">
    
                
                <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="esp">
            &nbsp;</td>
        <td class="subtitulo" style=" width:100px ">
            Solicitante:</td>
        <td align="left">
                        <asp:Label ID="lblSolicitante" runat="server"></asp:Label>
                    </td>
        <td class="subtitulo" style=" width:100px ">
            Monto sol.:</td>
        <td align="left">
                        <asp:Label ID="lblMonto" runat="server"></asp:Label>
                    </td>
      
        <td class="subtitulo"  style=" width:90px "  >
            Producto:</td>
        <td align="left">
                        <asp:Label ID="lblProducto" runat="server"></asp:Label>
                        </td>
                         <td  runat="server" id="TDGrupo" class="texto">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td  class="subtitulo"  style=" width:110px " >
                       Grupo:                                 </td>
                                <td  class="texto" align="left">
                             <asp:HyperLink ID="hlnkGrupo" runat="server" CssClass="link" Visible="False">[hlnkGrupo]</asp:HyperLink>
                                    <asp:Label ID="lblGrupo" runat="server"></asp:Label>
                                </td>
                            </tr>
                        </table>
                    </td></td>
        <td class="esp">
                        &nbsp;</td>
    </tr>
    <tr>
        <td>
            &nbsp;</td>
        <td class="subtitulo">
            Asesor:</td>
        <td align="left">
                        <asp:Label ID="lblAsesor" runat="server"></asp:Label>
                        </td>
        <td class="subtitulo">
            Plazo:</td>
        <td align="left">
                        <asp:Label ID="lblPlazo" runat="server"></asp:Label>
                        &nbsp;<asp:Label ID="lblFrecuencia" runat="server"></asp:Label>
                    </td>
        
        <td>
            &nbsp;</td>
        <td align="left" >
                             &nbsp;</td>
         <td  runat="server" id="TDCodigoGrupo" >
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="subtitulo"  style=" width:110px ">
                      Código grupo: 
                                </td>
                                <td  class="texto" align="left">
                                    <asp:Label ID="lblCodigoGrupo" runat="server"></asp:Label>
                                </td>
                            </tr>
                        </table>
                        </td>
    </tr>
</table>
        </td>
    </tr>
</table>




