﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="fechaCalendario.ascx.vb" Inherits="SacLib.fechaCalendario" %>
<table cellpadding="0" cellspacing="0" border="0" border="0" style="width: 262px" class="texto">
    <tr style=" padding-left:">
        <td style="width:5px"></td>
        <td>
            Día:
        </td>
        <td>
            <asp:textbox id="txtdia" runat="server" Width="32px" ></asp:textbox>
        </td>
        <td style="width:5px;"></td>
        <td>
            Mes:
        </td>
        <td>
            <asp:textbox id="txtmes" runat="server" Width="32px" ></asp:textbox>
        </td>
        <td style="width:5px;"></td>
        <td>
            Año:
        </td>
        <td>
            <asp:textbox id="txtano" runat="server" Width="56px" 
                ></asp:textbox>
        </td>
        <td>
         
            &nbsp;
            </td>
        <td style="width: 25px;">
            <img runat="server" src="images/calendario.jpg" id="imgCal" />
        </td>
        <td>
        <input runat ="server" id="ocultoFecha" type="hidden" />
        </td>
    </tr>
</table>

    