﻿@{
    //ViewBag.Title = "Crear Emprendimiento";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@section css{


}
@section js{

    <script src="~/js/Emprendimiento/CrearEmprendimiento.js"></script>
    <script src="~/js/SCO/scoring.js"></script>
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("CrearEmprendimiento","Emprendimiento")"><h2>Crear Emprendimiento</h2></a>
    </li>
</ol>

<div class="row">
    <div class="col-sm-10 offset-sm-1">
        <div class="card mb-3 espacioVertical">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-sm-12"> Datos del emprendimiento </h3>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <label class="col-sm-3">No. ruc:</label>
                    <input id="txtRucEmprendimiento" class="col-sm-5 form-control" type="text" placeholder="Ejm: 179385001" />
                </div>
                <div class="row espacioVertical">
                    <label class="col-sm-3">Nombre:</label>
                    <input id="txtNombreEmprendimiento" class="col-sm-5 form-control" type="text" placeholder="Nombre" />
                </div>
                <div class="row espacioVertical">
                    <label class="col-sm-3">Descripcion:</label>
                    <textarea id="txtDescripcionEmprendimiento" class="col-sm-9 form-control" rows="4" placeholder="Descripcion"></textarea>
                </div>

            </div>

            <div class="card-footer ">
                <div class="row ">
                    @*<div class="col text-right">
                            <button id="btnGuardarEmprendimiento" class=" btn btn-primary">Guardar emprendimiento</button>
                        </div>*@

                </div>
            </div>

        </div>

        <div class="card mb-3 espacioVertical">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-sm-12"> Socios  </h3>
                </div>
            </div>

            <div class="card-body">

                <div class="row ">
                    <div class="col text-left">
                        <button class="btn btn-primary" id="btnAgregarSocio" type="button" data-toggle="modal" data-target="#modalSocio"> <i class="fa fa-plus-circle"></i> Agregar Socio</button>
                    </div>
                </div>

                <table id="tblSocios" class="table table-bordered espacioVertical" width="100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Cargo</th>
                            <th>Aporte</th>
                            <th>Porcentaje %</th>
                        </tr>
                    </thead>
                </table>

            </div>

            @*<div class="card-footer ">
                    <div class="row ">
                        <div class="col text-right">
                            <button id="btnGuardarEmprendimiento" class=" btn btn-primary">Guardar</button>
                        </div>

                    </div>
                </div>*@

        </div>

        <div class="card mb-3 espacioVertical">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-sm-12"> Cuestionario  </h3>
                </div>
            </div>

            <div class="card-body" id="dvQ">


            </div>

            <div class="card-footer ">
                <div class="row ">
                    <div class="col text-right">
                        <button id="btnGuardarEmprendimiento" class=" btn btn-primary">Guardar</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal Agregar socio-->
<div class="modal fade" id="modalSocio" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Datos Socio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <div class="col-md-7">
                        <input type="text" id="txtIdEmprendimiento" class="form-control" value="" />
                    </div>
                    <div class="col-md-7">
                        <input type="hidden" id="txtIdSocio" class="form-control" value="0" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtnombreSocio" class="col-md-3 col-md-offset-1 control-label">Nombre:</label>
                    <div class="col-md-7">
                        <input type="text"  id="txtnombreSocio" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtTelefonoSocio" class="col-md-3 col-md-offset-1 control-label">Teléfono:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtTelefonoSocio" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtCargoSocio" class="col-md-3 col-md-offset-1 control-label">Cargo:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtCargoSocio" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtAporteSocio" class="col-md-3 col-md-offset-1 control-label">Aporte:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtAporteSocio" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtPorcentajeSocio" class="col-md-3 col-md-offset-1 control-label">Porcentaje %:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtPorcentajeSocio" class="form-control" />
                    </div>
                </div>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="borrarSocio" type="button" class="btn btn-danger" data-dismiss="modal">Borrar Socio</button>
                <button id="btnGuardarSocio" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>