﻿@{
    //ViewBag.Title = "Crear Emprendimiento";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@section js{
    <script src="~/js/Emprendimiento/EditarEmprendimiento.js"></script>
    <script src="~/js/Socio/EditarSocios.js"></script>
    <script src="~/js/SCO/scoring.js"></script>
}

@*todo esto no va aquí, hay que poner donde vaya cuando se defina *@
<div style="display:none">
    <a id="btnInformeDiagnosticoEmprendedor" href="#" class="btn btn-light"><i class="fa fa-download"></i>Informe de Diagnóstico Emprendedor</a>
</div>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("CrearEmprendimiento","Emprendimiento")"><h2>@ViewBag.emprendimiento.nombre</h2></a>
    </li>
</ol>

<div class="col-md-7">
    <input type="hidden" id="txtIdEmprendimiento" class="form-control" value="@ViewBag.emprendimiento.id" />
</div>

<div class="row">
    <div class="col-sm-10 offset-sm-1">

        <div class="row ">
            <div class="col-sm-6 text-left">
                Favor complete los datos de su emprendimiento.
            </div>
        </div>

        @*Datos Emprendimiento*@
        <div class="card mb-3 espacioVertical">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-sm-12"> Datos Generales </h3>
                </div>
            </div>

            <div class="card-body">
                <!--ruc-->
                <div class="form-group row">
                    <label for="txtRucEmprendimiento" class="col-sm-3 col-form-label">
                        No. ruc:
                    </label>
                    <div class="col-sm-9">
                        <input id="txtRucEmprendimiento" class="col-sm-5 form-control text-right" type="text" placeholder="Ejm: 179385001 " />
                        <span class="text-muted"><small>(Opcional)</small></span>
                    </div>
                </div>

                <!--Descripcion-->
                <div class="form-group row">
                    <label for="txtDescripcionEmprendimiento" class="col-sm-3 col-form-label">
                        Descripción:
                    </label>
                    <div class="col-sm-9">
                        <textarea id="txtDescripcionEmprendimiento" class="form-control" rows="4" placeholder="Descripción"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtMedioComunicacion" class="col-sm-3 col-form-label">
                        Por qué medio se enteró de Emprendefe?
                    </label>
                    <div class="col-sm-9">
                        @*<input id="txtMedioComunicacion" class="col-sm-5 form-control text-right" type="text" placeholder="Ejm: 179385001 " />*@       
                        <select id="txtMedioComunicacion" class="col-sm-5 form-control text-right">
                            <option value="29">Visita Ejecutiva</option>
                            <option value="30">Referencias</option>
                            <option value="31">Radio</option>
                            <option value="32">Prensa</option>
                            <option value="33">Agencia del Banco</option>
                            <option value="34">Aliado</option>
                            <option value="35">Web</option>
                            <option value="36">Otro</option>                            
                        </select>
                    </div>
                </div>

                @*<div class="row">
            <div class="col-12">
                <label class="text-danger espacioVertical">Conteste las siguientes preguntas:</label>
            </div>
        </div>*@

                <!--cuestionario scoring-->
                <div id="divCuestionario"></div>

                <!--otras preguntas-->
                <div>
                    <div class="form-group row">
                        <label for="txtConstituida" class="col-sm-7 col-form-label">Esta Constituida legalmente?</label>
                        <div class="col-sm-5">
                            <select id="txtConstituida" class="form-control">
                                <option value="0">no</option>
                                <option value="1">sí</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtProductosComercializar" class="col-sm-7 col-form-label">Tenemos ya una muestra de producto/s para comercializar?</label>
                        <div class="col-sm-5">
                            <select id="txtProductosComercializar" class="form-control">
                                <option value="1"> sí </option>
                                <option value="0"> no </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtVentasProducto" class="col-sm-7 col-form-label">Hemos realizado ventas del producto?</label>
                        <div class="col-sm-5">
                            <select id="txtVentasProducto" class="form-control">
                                <option value="1"> No vendemos todavía </option>
                                <option value="2"> Solo a mi círculo cercano (familia y amigos) </option>
                                <option value="3"> Hemos vendido fuera del círculo cercano </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-7 col-form-label">
                            Hace cuento tiempo tenemos ventas recurrentes?
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Ventas recurrentes son aquellas que se dan de forma permanente mes a mes"></i>
                        </label>
                        <div class="col-sm-5">
                            <select id="txtVentasRecurrentes" class="form-control">
                                <option value="1"> No son recurrentes aún </option>
                                <option value="2"> Son recurrentes por menos de un año </option>
                                <option value="3"> Son recurrentes por más de un año   </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Direccion*@
        <div class="card mb-3 espacioVertical">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-sm-12"> Dirección del emprendimiento </h3>
                </div>
            </div>

            <div class="card-body">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="0" name="radioDireccion" id="mismaDireccion" checked="checked">Mi dirección personal
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="1" name="radioDireccion" id="otraDireccion">Otra dirección
                    </label>
                </div>

                <div id="divDireccion" style="display:none">

                    @*<div class="row espacioVertical">
                        <label class="col-sm-2"> Descripcion: </label>
                        <input id="txtNombre" class="col-sm-4 form-control" placeholder="Ejm: Mi hogar" />

                    </div>*@
                    <div class="row espacioVertical">
                        <label class="col-sm-2"> Provincia: </label>
                        <select id="txtProvincia" class="col-sm-4 form-control"></select>
                        <label class="col-sm-2"> Ciudad: </label>
                        <select id="txtCiudad" class="col-sm-4 form-control"></select>
                    </div>

                    <div class="row espacioVertical">
                        <label class="col-sm-2"> Parroquia: </label>
                        <select id="txtParroquia" class="col-sm-4 form-control"></select>
                        <label class="col-sm-2"> Barrio: </label>
                        <input id="txtBarrio" class="col-sm-4 form-control" placeholder="Ejm: La Mariscal" />
                    </div>

                    <div class="row espacioVertical">
                        <label class="col-sm-2"> Calle Principal: </label>
                        <input id="txtCallePrincipal" class="col-sm-4 form-control" />
                        <label class="col-sm-2"> Calle Secundaria: </label>
                        <input id="txtCalleSecundaria" class="col-sm-4 form-control" />
                    </div>

                    <div class="row espacioVertical">
                        <label class="col-sm-2"> Número: </label>
                        <input id="txtNumero" class="col-sm-4 form-control" placeholder="Ejm: 0e - 240" />
                        <label class="col-sm-2"> Referencia: </label>
                        <input id="txtReferencia" class="col-sm-4 form-control" placeholder="Ejm: Edificio Esquina" />
                    </div>

                    <div class="row espacioVertical">
                        <label class="col-sm-2"> Tipo de local: </label>
                        <select id="txtTipoLugar" class="col-sm-4 form-control">
                            <option value="1">Propia</option>
                            <option value="2">De familiares</option>
                            <option value="3">Arrendado</option>
                            <option value="4">Otros</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>

        @*Socios*@
        <div class="card mb-3 espacioVertical">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-sm-12"> Socios  </h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col text-left">
                        <button class="btn btn-primary" id="btnAgregarSocio" type="button" data-toggle="modal" data-target="#modalSocio"> <i class="fa fa-plus-circle"></i> Agregar Socio</button>
                    </div>
                </div>
                <table id="tblSocios" class="table table-bordered espacioVertical" width="100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Cargo/Rol</th>
                            <th>Aporte</th>
                            <th>Participación []%</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        @*guardar*@
        <div class="row">
            <div class="col-sm-12 text-right">
                <button id="btnGuardarEmprendimiento" class="btn btn-primary">Guardar</button>
            </div>
        </div>

        <br />
    </div>
</div>

<!-- Modal Agregar socio-->
<div class="modal fade" id="modalSocio" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Datos Socio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">

                    <div class="col-md-7">
                        <input type="hidden" id="txtIdSocio" class="form-control" value="0" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtnombreSocio" class="col-md-3 col-md-offset-1 control-label">Nombre:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtnombreSocio" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtTelefonoSocio" class="col-md-3 col-md-offset-1 control-label">Teléfono:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtTelefonoSocio" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtCargoSocio" class="col-md-3 col-md-offset-1 control-label">Cargo/Rol:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtCargoSocio" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtAporteSocio" class="col-md-3 col-md-offset-1 control-label">Aporte:</label>
                    <div class="col-md-7">
                        <input type="number" id="txtAporteSocio" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtPorcentajeSocio" class="col-md-3 col-md-offset-1 control-label">Participación []%:</label>
                    <div class="col-md-7">
                        <input type="number" id="txtPorcentajeSocio" class="form-control" />
                    </div>
                </div>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnBorrarSocio" type="button" class="btn btn-danger" data-dismiss="modal">Borrar Socio</button>
                <button id="btnGuardarSocio" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>
<!-- Fin Modal Agregar socio-->