﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="MPModuloColor.Master.vb" Inherits="Balances.MPModuloColor" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">

    <link rel="shortcut icon" href="images/favicon.ico">
    <title>SIGRIF - Scoring y Aprobación de Créditos</title>
    <link href="css/Estilos.css" rel="stylesheet" type="text/css" />
    
    <%--   inicio calendario--%>
    <script src="js/jscalendar/calendar.js" type="text/javascript"></script>
    <script src="js/jscalendar/calendar-setup.js" type="text/javascript"></script>
    <script src="js/jscalendar/calendar-en.js" type="text/javascript"></script>
    <link href="js/jscalendar/calendar-blue2.css" rel="stylesheet" type="text/css" />
    <%--   fin calendario--%>
    
    
    <script language="JavaScript1.2" src="js/big.js" type="text/javascript"></script>
    <script language="JavaScript1.2" src="js/bigTools.js" type="text/javascript"></script>
    <script language="JavaScript1.2" src="js/popUp2.js" type="text/javascript"></script>
    <script src="js/ControlTiempo.js" type="text/javascript"></script>
  
    <%-- inicio collapsible--%>
    <link href="SpryAssets/SpryCollapsiblePanel.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript1.2" src="SpryAssets/SpryCollapsiblePanel.js" type="text/javascript"></script>
    <%-- fin collapsible--%>

   
  
     <%-- inicio  buro
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
     fin  buro--%>
     
  
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; background-color: #8b0000"
            id="tblMaster" runat="server">
            <tr>
                <td bgcolor="#ffffff" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; background-color: white">
                        <tr>
                            <td height="50px" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                    <tr>
                                        <td width="20">
                                        </td>
                                        <td rowspan="2" width="100" height="50" valign="middle">
                                            <asp:Image ID="imgIcono" runat="server" ImageUrl="~/images/sigrif.png" />
                                        </td>
                                        <td class="style1">
                                            &nbsp;
                                        </td>
                                        <td align="right" class="texto" valign="bottom" >
                                            &nbsp;</td>
                                        <td width="20">
                                            &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td class="style1">
                                        </td>
                                        <td class="tituloRojo" style="text-align: right" valign="top" >
                                            Scoring y Aprobación de Créditos
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="textoBlanco" valign="top" height="30">
                                <table id="tblMenu" runat="server" border="0" cellpadding="0" cellspacing="0" height="30"
                                    style="width: 100%">
                                    <tr>
                                        <td background="images/fondo/foni2.png" width="14">
                                        </td>
                                        <td background="images/fondo/fonm2.png">
                                            <asp:HyperLink ID="hlnkRegresar" runat="server" CssClass="menuBlanco">Regresar</asp:HyperLink>
                                            </td>
                                        <td background="images/fondo/fond2.png" width="14">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div id="divGuardado" style="display: none; position: absolute">
                                    <asp:Label ID="lblGuardado" runat="server" Text="Los datos se han guardado con éxito"
                                        CssClass="sgrTitulo"></asp:Label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                </asp:ContentPlaceHolder>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
