﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="MPModulo.Master.vb" Inherits="Balances.MPModulo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">

    <link rel="shortcut icon" href="images/favicon.ico">
    <title>SIGRIF - Scoring y Aprobación de Créditos</title>
    <link href="css/Estilos.css" rel="stylesheet" type="text/css" />
    
    <%--   inicio calendario--%>
    <script src="js/jscalendar/calendar.js" type="text/javascript"></script>
    <script src="js/jscalendar/calendar-setup.js" type="text/javascript"></script>
    <script src="js/jscalendar/calendar-en.js" type="text/javascript"></script>
    <link href="js/jscalendar/calendar-blue2.css" rel="stylesheet" type="text/css" />
    <%--   fin calendario--%>
    
    
    <script language="JavaScript1.2" src="js/big.js" type="text/javascript"></script>
    <script language="JavaScript1.2" src="js/bigTools.js" type="text/javascript"></script>
    <script language="JavaScript1.2" src="js/popUp2.js" type="text/javascript"></script>
    <script src="js/ControlTiempo.js" type="text/javascript"></script>
  
    <%-- inicio collapsible--%>
    <link href="SpryAssets/SpryCollapsiblePanel.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript1.2" src="SpryAssets/SpryCollapsiblePanel.js" type="text/javascript"></script>
    <%-- fin collapsible--%>

   
  
     <%-- inicio  buro
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
     fin  buro--%>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; background-color: #ffffff" id="tblMaster" runat="server">
                <tr>
                    <td align="center">
                        <div id="divGuardado" style="display: none; position: absolute">
                            <asp:Label ID="lblGuardado" runat="server" Text="Los datos se han guardado con éxito"
                                CssClass="sgrTitulo"></asp:Label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
