﻿
@{
    ViewBag.Title = "Balance";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@Html.Partial("../RequisitosPostulante/_encabezado")

<h3>Balance</h3>
<br />
<div class="row">
    <div class="col-12">
        <form action="~/Finanzas/guardarBalance" method="post">
            <div style="display:none">
                <label id="lblIdEmprendimiento" name="lblIdEmprendimiento">@ViewBag.emprendimiento.id</label>
                <label id="lblIdRequisito" name="lblIdRequisito">@ViewBag.idRequisito</label>

                <input type="text" id="txtIdEmprendimiento" name="txtIdEmprendimiento" value="@ViewBag.emprendimiento.id">
                <input type="text" id="txtIdRequisito" name="txtIdRequisito" value="@ViewBag.idRequisito">
                <input type="text" id="txtIdPostulacion" name="txtIdPostulacion" value="@ViewBag.idPostulacion">

                <input type="text" id="txt_idBalanceAct" name="txt_idBalanceAct" />
                <input type="text" id="txt_idBalanceProy" name="txt_idBalanceProy" />
            </div>

            <!--INGRESOS-->
            <br />
            <h4>INGRESOS</h4>
            <div class="row">
                <div class="col-2 mt-4">
                    <div style="margin-top:8px"><h5> Emprendedor</h5></div>
                </div>
                <div class="col-10">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="txt_1">Negocio Propio</label>
                            <input type="text" class="form-control text-right" id="txt_1" name="txt_1" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txt_2">Empleado</label>
                            <input type="text" class="form-control text-right" id="txt_2" name="txt_2" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txt_3">Otro</label>
                            <input type="text" class="form-control text-right" id="txt_3" name="txt_3" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txt_TotalIngEmp"><b>Total</b></label>
                            <input type="text" class="form-control text-right" id="txt_TotalIngEmp" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div style="margin-top:4px"><h5> Conyuge</h5></div>
                </div>
                <div class="col-10">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control text-right" id="txt_4" name="txt_4" />
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control text-right" id="txt_5" name="txt_5" />
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control text-right" id="txt_6" name="txt_6" />
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control text-right" id="txt_TotalIngCon" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <hr />
            <br />

            <!--COSTOS FIJOS MENSUALES-->
            <h4>COSTOS FIJOS MENSUALES</h4>
            <div class="row">
                <!--Costos fijos negocio-->
                <div class="col-5">
                    <h5>Costos fijos mensuales del <b>negocio</b></h5>
                    <div class="row">
                        <div class="col-8 offset-4">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Actuales</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Proyectados
                                        <span data-toggle="tooltip" data-placement="top" title="Proyectado después del financiemiento o en siguientes 6 meses al consolidarse el proyecto"><i class="fas fa-info-circle"></i></span>
                                    </label>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Arriendo</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_7" name="txt_7" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_7_P" name="txt_7_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Sueldos</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_8" name="txt_8" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_8_P" name="txt_8_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Servicios Básicos</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_9" name="txt_9" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_9_P" name="txt_9_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">internet</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_10" name="txt_10" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_10_P" name="txt_10_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Movilización</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_11" name="txt_11" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_11_P" name="txt_11_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Impuestos</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_12" name="txt_12" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_12_P" name="txt_12_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px" class="small">Cuota de préstamos</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_13" name="txt_13" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_13_P" name="txt_13_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Otros</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_14" name="txt_14" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_14_P" name="txt_14_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px"><p>Total</p></div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_TotalCostosFijosNegocio" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_TotalCostosFijosNegocio_P" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
                <!--Costos fijos Familiares-->
                <div class="col-5">
                    <h5>Costos fijos mensuales <b>familiares</b></h5>
                    <div class="row">
                        <div class="col-8 offset-4">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Actuales</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Proyectados
                                        <span data-toggle="tooltip" data-placement="top" title="Proyectado después del financiemiento o en siguientes 6 meses al consolidarse el proyecto"><i class="fas fa-info-circle"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Comida</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_15" name="txt_15" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_15_P" name="txt_15_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Vivienda</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_16" name="txt_16" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_16_P" name="txt_16_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Vestido</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_17" name="txt_17" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_17_P" name="txt_17_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Internet</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_18" name="txt_18" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_18_P" name="txt_18_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Transporte</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_19" name="txt_19" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_19_P" name="txt_19_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Servicios Públicos</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_20" name="txt_20" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_20_P" name="txt_20_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Medicinas</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_21" name="txt_21" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_21_P" name="txt_21_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Educación</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_22" name="txt_22" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_22_P" name="txt_22_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Otros</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_23" name="txt_23" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_23_P" name="txt_23_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px"><b>Total</b></div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_TotalCostosFijosFamiliares" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_TotalCostosFijosFamiliares_P" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <hr />
            <br />

            <!--ESTADO RESULTADOS-->
            @if (ViewBag.esAdmin)
            {
                <div id="divEstadoResultados">
                    <h4>ESTADO RESULTADOS</h4>
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col-8 offset-4">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Actuales</label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Proyectados
                                                <span data-toggle="tooltip" data-placement="top" title="Proyectado después del financiemiento o en siguientes 6 meses al consolidarse el proyecto"><i class="fas fa-info-circle"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div style="margin-top:4px">Ventas</div>
                                </div>
                                <div class="col-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_24" disabled name="txt_24" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_24_P" disabled name="txt_24_P" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div style="margin-top:4px">Costo de Ventas</div>
                                </div>
                                <div class="col-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_25" disabled name="txt_25" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_25_P" disabled name="txt_25_P" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div style="margin-top:4px"><b> Utilidad Bruta</b></div>
                                </div>
                                <div class="col-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_UtilidadBruta" disabled />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_UtilidadBruta_P" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 small">
                                    <div style="margin-top:4px">Costos fijos mensuales del negocio</div>
                                </div>
                                <div class="col-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_CostosFijosNegocio" disabled />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_CostosFijosNegocio_P" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div style="margin-top:4px"><b>Utilidad neta del negocio</b></div>
                                </div>
                                <div class="col-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_UtilidadNetaNegocio" disabled />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_UtilidadNetaNegocio_P" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div style="margin-top:4px">Otros Ingresos</div>
                                </div>
                                <div class="col-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_OtrosIngresos" disabled />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_OtrosIngresos_P" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div style="margin-top:4px">Costos Fijos Familiares</div>
                                </div>
                                <div class="col-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_ER_CFF" disabled />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_ER_CFF_P" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div style="margin-top:4px"><b>Excedente Familiar Mensual</b></div>
                                </div>
                                <div class="col-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_ExcedenteFamiliarMensual" disabled />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control text-right" id="txt_ExcedenteFamiliarMensual_P" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <hr />
                    <br />
                </div>
            }

            <!--BALANCE GENERAL-->
            <h4>BALANCE GENERAL</h4>
            <div class="row">
                <div class="col-6">
                    <h5>Activos</h5>
                    <div class="row">
                        <div class="col-8 offset-4">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Actuales</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Proyectados
                                        <span data-toggle="tooltip" data-placement="top" title="Proyectado después del financiemiento o en siguientes 6 meses al consolidarse el proyecto"><i class="fas fa-info-circle"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px" data-toggle="tooltip" data-placement="top" title="Se refiere el dinero en caja y bancos">Disponible <i class="fas fa-info-circle"></i></div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_26" name="txt_26" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_26_P" name="txt_26_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">CxC Clientes</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_27" name="txt_27" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_27_P" name="txt_27_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Anticipos a terceros</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_28" name="txt_28" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_28_P" name="txt_28_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Inventarios</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_29" name="txt_29" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_29_P" name="txt_29_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Otros</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_30" name="txt_30" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_30_P" name="txt_30_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px" class="small"><b>Total Activo Corriente</b></div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalActivoCorriente" disabled />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalActivoCorriente_P" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Activo fijo</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_31" name="txt_31" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_31_P" name="txt_31_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px"><b>Total Activos</b></div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalActivos" disabled />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalActivos_P" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h5>Pasivos</h5>
                    <div class="row">
                        <div class="col-8 offset-4">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Actuales</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Proyectados
                                        <span data-toggle="tooltip" data-placement="top" title="Proyectado después del financiemiento o en siguientes 6 meses al consolidarse el proyecto"><i class="fas fa-info-circle"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">CxPagar proveedores</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_32" name="txt_32" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_32_P" name="txt_32_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px">Anticipos de terceros</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_33" name="txt_33" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_33_P" name="txt_33_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px" class="small">Otras cuentas por pagar</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_34" name="txt_34" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_34_P" name="txt_34_P" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px" class="small"><b>Total Pasivo Corriente</b></div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalPasivoCorriente" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalPasivoCorriente_P" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px" class="small">Pasivos a largo plazo</div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_35" name="txt_35" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_35_P" name="txt_35_P" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px"><b>Total Pasivos</b></div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalPasivos" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalPasivos_P" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px"><b>Patrimonio</b></div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_Patrimonio" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_Patrimonio_P" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div style="margin-top:4px" class="small"><b>Total Pasivos + Patrimonio</b></div>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalPasivosPatrimonio" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control text-right" id="txt_BG_TotalPasivosPatrimonio_P" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <hr />
            <br />

            <div class="form-group row">
                <div class="col-12 text-right">
                    <button id="btnTerminar" type="submit" onclick="showLoading();" class="btn btn-primary"><i class="fa fa-save"></i> Completado</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Loading-->
    <div class="modal fade" id="divLoading" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section js{
    <script src="~/js/Finanzas/Balance.cshtml.js?v=1"></script>
}