﻿
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

<div style="display:none">
    <label id="lblIdEmprendimiento">@ViewBag.postulacion.Emprendimientos.id</label>
    <label id="lblIdRequisito">@ViewBag.idRequisito</label>
    @*<label id="lblIdRol">@ViewBag.idRol</label>*@
</div>

@Html.Partial("../RequisitosPostulante/_encabezado")

<h3>Productos</h3>
<!--boton nuevo-->
<div class="row">
    <div class="col-12 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalProducto" onclick="cargaNuevoProducto();">
            Nuevo Producto
        </button>
    </div>
</div>
<!--tabla productos-->
<div class="row">
    <div class="col-12">
        <table id="tblProductos" class="table table-striped" style="width:100%;"></table>
    </div>
</div>
<!-- botón terminar -->
<br />
<div class="row">
    <div class="col-md-12">
        <button type="button" id="btnTerminarRequisito" class="btn btn-primary" onclick="terminarRequisito();"><i class="fa fa-save"></i> Completado</button>
    </div>
</div>
<br /><br />

<!--Inicio modal producto-->
<div class="modal" tabindex="-1" role="dialog" id="ModalProducto">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divProducto">
                    <!--Nombre-->
                    <div class="form-group row">
                        <label for="txtProductoNombre" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtProductoNombre" value="">
                        </div>
                    </div>
                    <div class="row">
                        <!--precio-->
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">Precio de venta</label>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="txtProductoPrecio">$</label>
                                            <input type="text" class="form-control text-right" id="txtProductoPrecio" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--unidades-->
                        <div class="col-9">
                            <div class="row">
                                <!--Venta actual-->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">Venta mensual actual</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="txtProductoUnidadesAct">Unidades</label>
                                                    <input type="text" class="form-control text-right" id="txtProductoUnidadesAct" value="">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group text-right">
                                                    <label for="TotalVentaActual">Total</label>
                                                    <input type="text" class="form-control text-right" id="TotalVentaActual" value="0" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Venta Proyectada-->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">Venta mensual proyectada</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="txtProductoUnidadesProy">Unidades</label>
                                                    <input type="text" class="form-control text-right" id="txtProductoUnidadesProy" value="">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group text-right">
                                                    <label for="TotalVentaProy">Total</label>
                                                    <input type="text" class="form-control text-right" id="TotalVentaProy" value="0" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divInsumos">
                    <div class="row">
                        <div class="col-12">
                            <h5>Insumos (para 1 producto)</h5>
                        </div>
                    </div>
                    <!--agregar-->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="txtInsumoNombre">Nombre</label>
                                <input type="text" class="form-control" id="txtInsumoNombre" value="">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="txtInsumoPrecio">Costo</label>
                                <input type="number" class="form-control text-right" id="txtInsumoPrecio" value="">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="txtInsumoCantidad">Cantidad</label>
                                <input type="number" class="form-control text-right" id="txtInsumoCantidad" value="">
                            </div>
                        </div>
                        <div class="col-2 mt-4 pt-2">
                            <button type="button" class="btn btn-info btn-block" id="btnAddInsumo">
                                Agregar
                            </button>
                        </div>
                    </div>
                    <!--tabla insumos-->
                    <div class="row">
                        <div class="col-12">
                            <table id="tblInsumos" class="table table-striped" style="width:100%;"></table>
                        </div>
                    </div>
                    <!--costo total-->
                    <br />
                    <div class="row">
                        <div class="col-3">
                            <!--costo-->
                            <div class="form-group">
                                <label for="">Costo Unitario</label>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="txtProductoCosto">$</label>
                                            <input type="text" class="form-control text-right" id="txtProductoCosto" value="" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <!--Costo actual-->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">Costo mensual actual</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="txtProductoUnidadesActC">Unidades</label>
                                                    <input type="text" class="form-control text-right" id="txtProductoUnidadesActC" value="" disabled>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group text-right">
                                                    <label for="TotalCostoActual">Total</label>
                                                    <input type="text" class="form-control text-right" id="TotalCostoActual" value="0" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Costo Proyectado-->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">Costo mensual proyectado</label>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="txtProductoUnidadesProyC">Unidades</label>
                                                    <input type="text" class="form-control text-right" id="txtProductoUnidadesProyC" value="" disabled>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group text-right">
                                                    <label for="TotalCostoProy">Total</label>
                                                    <input type="text" class="form-control text-right" id="TotalCostoProy" value="0" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnGuardarProducto" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin modal producto-->


@section css{
    
}

@section js{
    <script src="~/js/Finanzas/Productos.cshtml.js?v=4"></script>
}