﻿
@{
    ViewBag.Title = "Inversion";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@section css{


}
@section js{

    <script src="~/js/Socio/EditarSocios.js"></script>
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("EditarSocios","Socio")"><h2>Emprendimiento</h2></a>
    </li>
</ol>

<div class="card mb-3 espacioVertical">
    <div class="card-header">
        <div class="row">
            <h3 class="col-sm-12"> Socios  </h3>
        </div>
    </div>

    <div class="card-body">

        <div class="row ">
            <div class="col text-left">
                <button class="btn btn-primary" id="btnAgregarSocio" type="button" data-toggle="modal" data-target="#modalSocio"> <i class="fa fa-plus-circle"></i> Agregar Socio</button>
            </div>
        </div>

        <table id="tblSocios" class="table table-bordered espacioVertical" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Cargo</th>
                    <th>Aporte</th>
                    <th>Porcentaje %</th>
                </tr>
            </thead>
        </table>

    </div>

    @*<div class="card-footer ">
            <div class="row ">
                <div class="col text-right">
                    <button id="btnGuardarEmprendimiento" class=" btn btn-primary">Guardar</button>
                </div>

            </div>
        </div>*@

</div>

<!-- Modal Agregar socio-->
<div class="modal fade" id="modalSocio" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Datos Socio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    <div class="col-md-7">
                        <input type="text" id="txtIdEmprendimiento" class="form-control" value="@ViewBag.idEmprendimiento" />
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="txtIdSocio" class="form-control" value="0" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtnombreSocio" class="col-md-3 col-md-offset-1 control-label">Nombre:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtnombreSocio" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtTelefonoSocio" class="col-md-3 col-md-offset-1 control-label">Teléfono:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtTelefonoSocio" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtCargoSocio" class="col-md-3 col-md-offset-1 control-label">Cargo:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtCargoSocio" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtAporteSocio" class="col-md-3 col-md-offset-1 control-label">Aporte:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtAporteSocio" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtPorcentajeSocio" class="col-md-3 col-md-offset-1 control-label">Porcentaje %:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtPorcentajeSocio" class="form-control" />
                    </div>
                </div>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnBorrarSocio" type="button" class="btn btn-danger" data-dismiss="modal">Borrar Socio</button>
                <button id="btnGuardarSocio" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>