﻿@{string urlEmprende = System.Configuration.ConfigurationManager.AppSettings["urlEmprende"];}
@{string SITEROOT = System.Configuration.ConfigurationManager.AppSettings["SITEROOT"];}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        var SITEROOT = '@SITEROOT';
    </script>
    <script src="~/Js/Home/index.cshtml.js"></script>
</head>
<body>
    <div>
        <label>idTipo:</label><input type="text" id="txtTipoEntidad" value="1" />
    </div>
    <div>
        <label>idRef:</label><input type="text" id="txtRefEntidad" value="1" />
    </div>
    <div>
        <a href="#" onclick="verAcuerdos();">Ver Acuerdos</a>
    </div>
</body>
</html>