﻿@{string urlEmprende = System.Configuration.ConfigurationManager.AppSettings["urlEmprende"];}
@{string SITEROOT = System.Configuration.ConfigurationManager.AppSettings["SITEROOT"];}
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />*@
    <link href="@urlEmprende/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
}
@section js{
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>*@
    <script src="@urlEmprende/vendor/datatables/jquery.dataTables.js"></script>
    <script src="@urlEmprende/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/Dashboard.js"></script>
}

    <div class="portlet-title">
        @*inicio Titulo*@
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Dashboard")"><h2>Panel</h2>  </a>
            </li>
        </ol>
        @*fin titulo*@

        <div class="clearfix"></div>

        @*inicio chart resumen cartera*@
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <h2 class="col-md-6 col-xs-12">Cartera </h2>
                    <h2 class="col-md-6 col-xs-12"><a href="@SITEROOT/Deudas/Index"> Detalle </a></h2>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">

                            <table class="col-md-10 offset-md-1 table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold"> Vigente </td>
                                        <td class="text-right font-weight-bold">  @ViewBag.totalPorVencer  </td>          
                                        
                                    </tr>
                                    <tr>
                                        <td> Capital </td>
                                        <td class="text-right">  @ViewBag.capitalPorVencer  </td>
                                    </tr>
                                    <tr>
                                        <td> Aporte </td>
                                        <td class="text-right">  @ViewBag.interesPorVencer  </td>
                                    </tr>
                                </tbody>
                            </table>
                            

                        </div>



                    </div>

                    <div class="col-md-6">

                        <div class="row">

                            <table class="col-md-10 offset-md-1 table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold"> Vencido </td>
                                        <td class="text-right font-weight-bold">  @ViewBag.totalVencido  </td>

                                    </tr>
                                    <tr>
                                        <td> Capital </td>
                                        <td class="text-right">  @ViewBag.capitalVencido  </td>
                                    </tr>
                                    <tr>
                                        <td> Aporte </td>
                                        <td class="text-right">  @ViewBag.interesVencido  </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                        
                    </div>

                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <h4 class="col-md-3 offset-md-3 text-center">Mora: </h4>
                    <h4 class="col-md-3 text-center text-center">@ViewBag.mora </h4>
                </div>
            </div>

        </div>
        @*fin chart resumen cartera*@

        @*inicio chart resume pagos*@
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <h2 class="col-md-6 col-xs-12">Pagos </h2>
                    <h2 class="col-md-6 col-xs-12"><a href="@SITEROOT/Pagos/PagosTotales"> Detalle </a></h2>
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    <table class=" col-md-8 offset-md-2 table table-bordered">
                        <tbody>
                            <tr>
                                <td> Capital </td>
                                <td class="text-right">  @ViewBag.capital  </td>

                            </tr>
                            <tr>
                                <td> Aporte </td>
                                <td class="text-right">  @ViewBag.interes  </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold"> Total </td>
                                <td class="text-right font-weight-bold">  @ViewBag.total  </td>
                            </tr>
                        </tbody>
                    </table>

                    

                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <h4 class="col-md-12">@ViewBag.descripcion</h4>
                </div>
            </div>

        </div>
        @*Fin chart resume pagos*@


        @*inicio Tabla Vencidos*@

        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-sm-12"> Deudas Vencidas</h3>
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-sm-12">
                        <table id="tblVencidos" class="table table-bordered" width="100%"></table>
                    </div>
                </div>
            </div>

            @*<div class="card-footer">
                <div class="row">
                    <h4 class="col-md-12">Última actualización: mes en curso </h4>
                </div>
            </div>*@

        </div>



        @*Fin Tabla Vencidos*@


    </div>
