﻿@{string urlEmprende = System.Configuration.ConfigurationManager.AppSettings["urlEmprende"];}
@{
    ViewBag.Title = "Modulo de Cobranza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    <link href="@urlEmprende/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

}
@section js{
    <script src="@urlEmprende/vendor/datatables/jquery.dataTables.js"></script>
    <script src="@urlEmprende/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/CargarPagos.js?v=1.01"></script>

}

@*inicio titulo*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("CargarPagos","Pagos")"><h2> Cargar Pagos </h2>  </a>
    </li>
</ol>
<div class="row">
    <input type="file" id="uploadPagos" title="Seleccione un archivo" class="col-md-6" accept=".xls,.xlsx" />
    <button id="btnCargarPagos" class="btn btn-primary col-md-2"><i class="fa fa-save"></i> Cargar Pagos </button>
</div>
@*fin titulo*@