﻿@{string urlEmprende = System.Configuration.ConfigurationManager.AppSettings["urlEmprende"];}
@{
    ViewBag.Title = "Modulo de Cobranza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    <link href="@urlEmprende/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css" rel="stylesheet">
}
@section js{
    <script src="@urlEmprende/vendor/datatables/jquery.dataTables.js"></script>
    <script src="@urlEmprende/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

    <script src="~/js/Pagos.js?v=1.01"></script>
}



<div class="portlet-title">
    @*inicio titulo*@
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Pagos")"><h2> @ViewBag.nombreDeudor</h2>  </a>
        </li>
    </ol>
    @*fin titulo*@

    <div class="clearfix"></div>

    <div class="row espacioVertical">
        <div class="col text-right">
            <button class="btn btn-primary" id="btnAgregarPago" type="button" data-toggle="modal" data-target="#modalAgregarPago"> <i class="fa fa-plus-circle"></i> Agregar Pago</button>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="card mb-3 espacioVertical">

        <div class="card-header">
            <div class="row">
                <h4 class="col-md-12">Deudas </h4>
            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="col-sm-12">
                    <table id="tblDeudas" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>

        @*<div class="card-footer">

                <div class="row">
                    <h4 class="col-md-12">Última actualización: mes en curso </h4>
                </div>

            </div>*@

    </div>

    <div class="card mb-3 ">

        <div class="card-header">
            <div class="row">
                <h4 class="col-md-12">Cuotas </h4>
            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="col-sm-12">
                    <table id="tblCuotas" class="table table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Capital</th>
                                <th>Aporte</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>F. Pago</th>
                                <th>Pagado</th>
                                <th>Pagado Capital</th>
                                <th>Pagado Aporte</th>
                                <th>Saldo Capital</th>
                                <th>Saldo Aporte</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>

        @*<div class="card-footer">

                <div class="row">
                    <h4 class="col-md-12">Ultima actualizacion: mes en curso </h4>
                </div>

            </div>*@

    </div>

    <div class="card mb-3">

        <div class="card-header">
            <div class="row">
                <h4 class="col-md-12">Pagos</h4>
            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="col-sm-12">
                    <table id="tblPagos" class="table table-bordered " width="100%">

                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Valor</th>
                                <th>Tipo</th>
                                <th>Documento</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>

        @*<div class="card-footer">

                <div class="row">
                    <h4 class="col-md-12">Ultima actualizacion: mes en curso </h4>
                </div>

            </div>*@

    </div>



</div>



<!-- Modal Agregar Pago-->
<div class="modal fade" id="modalAgregarPago" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Agregar Pago</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">
                    @*<label for="txtidDeudorAgregarPago" class="col-md-3 col-md-offset-1 control-label">Deudor:</label>*@
                    <div class="col-md-7">
                        <input type="hidden" id="txtidDeudorAgregarPago" class="form-control" value="@ViewBag.id" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtValorAgregarPago" class="col-md-3 col-md-offset-1 control-label">Valor:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtValorAgregarPago" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="slcTipoPagoAgregarPago" class="col-md-3 col-md-offset-1 control-label">Tipo de pago:</label>
                    <div class="col-md-7">
                        <select id="slcTipoPagoAgregarPago">
                            <option value="">Seleccione</option>
                            <option value="1">Efectivo</option>
                            <option value="2">Transferencia</option>
                            <option value="3">Cheque</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtDocumentoAgregarPago" class="col-md-3 col-md-offset-1 control-label">Documento:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtDocumentoAgregarPago" class="form-control" />
                    </div>

                </div>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnGuardarPago" type="button" class="btn btn-default">Guardar</button>
            </div>
        </div>

    </div>
</div>



