﻿
@{string urlEmprende = System.Configuration.ConfigurationManager.AppSettings["urlEmprende"];}
@{
    ViewBag.Title = "Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />*@
    <link href="@urlEmprende/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css" rel="stylesheet">
}
@section js{
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>*@
    <script src="@urlEmprende/vendor/datatables/jquery.dataTables.js"></script>
    <script src="@urlEmprende/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

    <script src="~/js/VerPagos.js?v=1.0"></script>
}

<div class="portlet-tittle">
    @*inicio titulo*@
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Pagos")"><h2> Pagos </h2>  </a>
        </li>
    </ol>
    @*fin titutulo*@


    <div class="row espacioVertical">

        <label class="col-md-2">Desde: </label>
        <input id="txtDesdeTodosPagos" class="col-md-2" type="date" />
        <label class="col-md-2">Hasta: </label>
        <input id="txtHastaTodosPagos" class="col-md-2" type="date" />
        <buttonc id="btnConsultarPagos" class="btn btn-primary  col-md-2 offset-md-1"> Consultar </buttonc>
    </div>

    <div class="card mb-3 espacioVertical">

        <div class="card-header">
            <div class="row">
                <h4 class="col-md-12">Resumen de pagos </h4>
            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="col-sm-12">
                    <table id="tblTodosPagos" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>

        <div class="card-footer">

            <div class="row">
                <label id="txtDescripcion" class="col-md-12">@ViewBag.descripcion</label>
            </div>

        </div>

    </div>



</div>