﻿@{string urlEmprende = System.Configuration.ConfigurationManager.AppSettings["urlEmprende"];}
@{
    ViewBag.Title = "Crear Corte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

}
@section js{
    <script src="~/js/CrearCorte.js"></script>
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Corte","Deudas")"><h2> Corte </h2>  </a>
    </li>
</ol>
<div class="row ">
    <input type="date" id="txtFechaCorte" class="col-md-2  form-control" style="margin-left: 20px" />
    <button id="btnCrearCorte" class="btn btn-primary col-md-2 offset-sm-1"><i class="fa fa-save"></i> Crear corte </button>

</div>


@*fin titulo*@