﻿@{string urlEmprende = System.Configuration.ConfigurationManager.AppSettings["urlEmprende"];}
@{
    ViewBag.Title = "Deudas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{


    @*<link href="@urlEmprende/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">*@
    <link href="@urlEmprende/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css" rel="stylesheet">
}
@section js{
    <script src="@urlEmprende/vendor/datatables/jquery.dataTables.js"></script>
    <script src="@urlEmprende/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="~/js/Deudas.js"></script>

}

    <div class="portlet-title">
        @*inicio titulo*@

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Deudas")"><h2>Cartera</h2> </a>
            </li>
        </ol>

        @*fin titutlo*@


        <div class="card mb-3 espacioVertical">

            <div class="card-header">
                <div class="row">
                    <h4 class="col-md-12">Resumen Cartera </h4>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    
                    <div class="col-sm-12">
                        <table id="tblTodasDeudas" class="table table-striped table-bordered dt-responsive nowrap" width="100%"></table>
                    </div>
                </div>
            </div>

            @*<div class="card-footer">

                <div class="row">
                    <h4 class="col-md-12">Última actualización: mes en curso </h4>
                </div>

            </div>*@

        </div>

        
    </div>



