﻿<div class="row" hidden>
    <input id="txtIdPostulacion" type="text" value="@ViewBag.postulacion.id" />
    <input id="txtIdEmprendimiento" type="text" value="@ViewBag.postulacion.Emprendimientos.id" />
</div>

<div class="row">
    <div class="col-12 text-right">
        @if (!string.IsNullOrEmpty(ViewBag.paginaAnterior))
        {
            <a href="@ViewBag.paginaAnterior"><i class="fas fa-arrow-left"></i> Volver</a>
        }

        @*
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Postulante/" + @ViewBag.postulacion.id ,"Convocatoria")"><i class="fas fa-arrow-left"></i> Volver</a>
        }
        else
        {
            <a href="@Url.Action("Dashboard","Persona")"><i class="fas fa-arrow-left"></i> Volver</a>
        }
        *@
    </div>
</div>

<br />

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Etapa/" + @ViewBag.postulacion.id ,"Postulacion")"><h2>@ViewBag.postulacion.CON_convocatorias.nombre</h2></a>
    </li>
</ol>

<div class="row">
    <div class="col">
        <h4 class="titlePage">@ViewBag.postulacion.Emprendimientos.nombre</h4>
    </div>
</div>

<hr />
<br />
