﻿@using Emprende.Models
@model LoginViewModel
@{
    ViewBag.Title = "Ingreso de datos ";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}
@section css{

}
@section js{
    <script src="~/js/Postulacion/documentos.js"></script>
}


@Html.Partial("_encabezado")

<h2>Documentos</h2>



<input type="hidden" id="txtIdPostulante" value="@ViewBag.postulacion.id" />



<div class="row top-space50">
    <div class="col">
        <p>¿Ha recibido al menos la cantidad de horas de capacitación requerida?</p>
    </div>
</div>
<div class="row top-space">
    <div class="col-2">
        Cumple capacitación: 
    </div>
    <div class="col-2">
        <select class="form-control" id="slcCumpleCapacitacion"><option value="0">NO</option><option value="1">SI</option></select>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        Proveedor de la capacitación 
    </div>
    <div class="col">
        <select class="form-control" id="slcProveedorCapacitacion">
            <option value="0">Seleccione</option>
            @foreach (var pr in ViewBag.Proveedores)
            {
                <option value="@pr.id">@pr.nombre</option>
            }
        </select>
    </div>
    
</div>

<div class="card mb-3 top-space50">
    <div class="card-body">
        <div class="row top-space">
            <div class="col">

                <table id="tblDocumentos" class="table"></table>

            </div>
        </div>
    </div>

    <div class="card-footer ">
        <div class="row ">
            <div class="col-sm-6 text-left">

            </div>
            <div class="col-sm-6 text-right">
                <button id="btnTerminarDocumentos" class="btn btn-primary"><i class="fa fa-save"></i> Completado</button>
            </div>

        </div>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="mdlUploadArchivo" tabindex="-1" role="dialog" aria-labelledby="subirArchivoModal" aria-hidden="true" data-id="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Carga de documentos y proformas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fleArchivo" aria-describedby="inputGroupFileAddon04">
                                <label id="lblListaArchivo" class="custom-file-label" for="fleArchivo">Escoja el archivo</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row top-space">
                    <div class="col">
                        <input type="text" id="txtObservacionArchivo" class="form-control" value="" placeholder="Observaciones (opcional)" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnSubirArchivo" type="button" class="btn btn-primary"><i class="fa fa-upload"></i> Subir</button>
            </div>
        </div>
    </div>
</div>