﻿@using Emprende.Models


@model LoginViewModel
@{
    ViewBag.Title = "Espera";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}
@section css{

}
@section js{


}

@Html.Partial("_encabezado")
<div class="row">
    <div class="col-sm-10 offset-sm-1">



        @if (ViewBag.postulacion.idEtapa == (int)Emprende.Extensions.IndiceEtapasConvocatoria.Elegibilidad)
        {
            <div id="eligibilidad">
                <div class="card mb-3 espacioVertical">
                    <div class="card-header">
                        <div class="row">
                            <h2 class="col-sm-12"> Etapa </h2>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <label class="col-sm-12 titulo">
                                Estamos procesando las inscripciones y le avisaremos el resultado
                            </label>
                        </div>

                    </div>                    

                </div>
            </div>
        }
        else if (ViewBag.postulacion.idEtapa == (int)Emprende.Extensions.IndiceEtapasConvocatoria.AgendarPrefactibilidad)
        {
            <div id="agendaPrefactibilidad">
                <div class="card mb-3 espacioVertical">
                    <div class="card-header">
                        <div class="row">
                            <h2 class="col-sm-12"> Etapa </h2>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <label class="col-sm-12 titulo">
                                Debe venir a una presentación de su emprendimiento <br />
                                Se le notificará la fecha y hora de esta presentación
                            </label>
                        </div>

                    </div>

                    @*<div class="card-footer ">
                            <div class="row ">
                                <div class="col text-right">
                                        <button id="btnGuardarEmprendimiento" class=" btn btn-primary">Guardar emprendimiento</button>
                                    </div>

                            </div>
                        </div>*@

                </div>
            </div>
        }

        else if (ViewBag.postulacion.idEtapa == (int)Emprende.Extensions.IndiceEtapasConvocatoria.Prefactibilidad)
        {
            <div id="prefactibilidad">
                <div class="card mb-3 espacioVertical">
                    <div class="card-header">
                        <div class="row">
                            <h2 class="col-sm-12"> Etapa </h2>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <label class="col-sm-12 titulo">
                                Su presentacion ha sido agendada.  <br />
                                Favor asistir puntual.
                            </label>
                        </div>
                        <div class="row espacioVertical">
                            <label class="col-sm-12 subTitulo">Fecha: @Convert.ToDateTime(@ViewBag.fechaPrefactibilidad).ToString("dd MMMM yyyy")</label>
                        </div>
                        <div class="row espacioVertical">
                            <label class="col-sm-12 subTitulo">Hora: @ViewBag.horaPrefactibilidad</label>
                        </div>
                        <div class="row espacioVertical">
                            <label class="col-sm-12 subTitulo">Lugar: @ViewBag.lugarPrefactibilidad</label>
                        </div>

                    </div>

                    @*<div class="card-footer ">
                            <div class="row ">
                                <div class="col text-right">
                                        <button id="btnGuardarEmprendimiento" class=" btn btn-primary">Guardar emprendimiento</button>
                                    </div>

                            </div>
                        </div>*@

                </div>
            </div>
        }

        else if (ViewBag.postulacion.idEtapa == (int)Emprende.Extensions.IndiceEtapasConvocatoria.AgendarComite)
        {
            <div id="agendaComite">
                <div class="card mb-3 espacioVertical">
                    <div class="card-header">
                        <div class="row">
                            <h2 class="col-sm-12"> Etapa </h2>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <label class="col-sm-12 titulo">
                                Se debe programar una visita <br />
                                Se le notificará la fecha y hora del mismo.
                            </label>
                        </div>


                    </div>

                    @*<div class="card-footer ">
                            <div class="row ">
                                <div class="col text-right">
                                        <button id="btnGuardarEmprendimiento" class=" btn btn-primary">Guardar emprendimiento</button>
                                    </div>

                            </div>
                        </div>*@

                </div>
            </div>
        }

        else if (ViewBag.postulacion.idEtapa == (int)Emprende.Extensions.IndiceEtapasConvocatoria.Comite)
        {
            <div id="comite">
                <div class="card mb-3 espacioVertical">
                    <div class="card-header">
                        <div class="row">
                            <h2 class="col-sm-12"> Etapa </h2>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <label class="col-sm-12 titulo">
                                Su comité ha sido agendada.  <br />
                                Favor asistir puntual.
                            </label>
                        </div>
                        <div class="row espacioVertical">
                            <label class="col-sm-12 subTitulo">Fecha: @Convert.ToDateTime(@ViewBag.fechaComite).ToString("dd MMMM yyyy")</label>
                        </div>
                        <div class="row espacioVertical">
                            <label class="col-sm-12 subTitulo">Hora: @ViewBag.horaComite</label>
                        </div>
                        <div class="row espacioVertical">
                            <label class="col-sm-12 subTitulo">Lugar: @ViewBag.lugarComite</label>
                        </div>

                    </div>

                    @*<div class="card-footer ">
                            <div class="row ">
                                <div class="col text-right">
                                        <button id="btnGuardarEmprendimiento" class=" btn btn-primary">Guardar emprendimiento</button>
                                    </div>

                            </div>
                        </div>*@

                </div>
            </div>
        }

        else
        {
            <div id="comprobacion" style="min-height:300px;">

                <div class="row">
                    <div class="col titulo">
                        <p>Su postulación está siendo evaluada.</p>
                        <p>Nos comunicaremos cuando pase a la siguiente etapa.</p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

