﻿@using Emprende.Models;

@{
    ViewBag.Title = "Postulantes";
    Layout = "~/Views/Shared/_Layout.cshtml";

    PostulacionCompleta PC = null;
    MIS_Personas emprendedor = null;

    if (ViewBag.error == null)
    {
        PC = ViewBag.postulacion;
        emprendedor = PC.emprendedor;
    }

    string paginaAnterior = ViewBag.paginaAnterior;
}

@section js{
    <script src="~/js/Postulacion/Index.cshtml.js"></script>
    <script src="~/js/RequisitosPostulante/tablaRequisitos.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    @*export buttons*@
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
}

@if (ViewBag.error != null)
{
    @ViewBag.error
}
else
{
    <div style="display:none">
        <input type="text" id="txtIdPostulacion" value="@PC.postulacion.id" />
    </div>

    if (!string.IsNullOrEmpty(paginaAnterior))
    {
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @if (paginaAnterior.IndexOf("Convocatoria/Postulantes") > 0)
                {
                    <a href="@Url.Action("Postulantes","Convocatoria",new {id = PC.postulacion.idConvocatoria })">Postulación</a>
                }
                @if (paginaAnterior.IndexOf("Convocatoria/Administrar") > 0)
                {
                    <a href="@Url.Action("Administrar","Convocatoria",new {id = PC.postulacion.idConvocatoria })">Postulación</a>
                }
            </li>
        </ol>
    }

    <!--nombreEmprendimeinto-->
    <div class="row">
        <div class="col" style="">
            <h4 class="titlePage">@PC.emprendimiento.nombre</h4>
            <hr />
        </div>
    </div>
    <!--tabs-->
    <div class="row">
        <div class="col">
            <!--tab list-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="usuario-tab" data-toggle="tab" href="#usuario" role="tab" aria-controls="usuario" aria-selected="true"><i class="fa fa-user"></i> DATOS GENERALES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="emprendimiento-tab" data-toggle="tab" href="#emprendimiento" role="tab" aria-controls="emprendimiento" aria-selected="false">EMPRENDIMIENTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="requisitos-tab" data-toggle="tab" href="#requisitos" role="tab" aria-controls="requisitos" aria-selected="false">MODELO DE NEGOCIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="postulacion-tab" data-toggle="tab" href="#postulacion" role="tab" aria-controls="postulacion" aria-selected="false">POSTULACION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="documentos-tab" data-toggle="tab" href="#documentos" role="tab" aria-controls="documentos" aria-selected="false">DOCUMENTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="seguimiento-tab" data-toggle="tab" href="#seguimiento" role="tab" aria-controls="seguimiento" aria-selected="false">SEGUIMIENTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="deudas-tab" data-toggle="tab" href="#deudas" role="tab" aria-controls="deudas" aria-selected="false">DEUDA</a>
                </li>
            </ul>
            <!--tab contents-->
            <div class="tab-content" id="myTabContent">
                <!--tab usuario-->
                <div class="tab-pane fade show active" id="usuario" role="tabpanel" aria-labelledby="usuario-tab">
                    <br />
                    <!--nombre completo-->
                    <div class="row">
                        <div class="col-12"><h3>@PC.emprendedor.getNombreCompleto()</h3></div>
                    </div>
                    <!--datos personales-->
                    <div class="row">
                        <div class="col-10"><h4>Datos Personales</h4></div>
                        <div class="col-2 text-right"><button id="btnVerEmprendedor" class="btn btn-info btn-sm">Ver más...</button></div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group row">
                                <label for="txtTelefono" class="col-sm-5 col-form-label"><b>Telefono: </b></label>
                                <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="txtTelefono" value="@emprendedor.telefono">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtCelular" class="col-sm-5 col-form-label"><b>Celular: </b></label>
                                <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="txtCelular" value="@emprendedor.celular">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtSexo" class="col-sm-5 col-form-label"><b>Sexo: </b></label>
                                <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="txtSexo" value="@emprendedor.getSexo()">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtCI" class="col-sm-5 col-form-label"><b>Numero CI / Pasaporte: </b></label>
                                <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="txtCI" value="@emprendedor.cedula">
                                </div>
                            </div>


                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label for="txtNacionalidad" class="col-sm-5 col-form-label"><b>Nacionalidad: </b></label>
                                <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="txtNacionalidad" value="@emprendedor.getNacionalidad()">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtFechaNac" class="col-sm-5 col-form-label"><b>fecha de nacimiento: </b></label>
                                <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="txtFechaNac" value="@emprendedor.fechaNacimiento">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtEmail" class="col-sm-5 col-form-label"><b>Email: </b></label>
                                <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="txtEmail" value="@emprendedor.correo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtCargas" class="col-sm-5 col-form-label"><b>Cargas: </b></label>
                                <div class="col-sm-7">
                                    @*<input type="text" readonly class="form-control-plaintext" id="txtEmail" value="@emprendedor.cargas">*@
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label for="txtAmbienteFam" class="col-sm-5 col-form-label"><b>Ambiente Familiar: </b></label>
                                <div class="col-sm-7">
                                    @*<input type="text" readonly class="form-control-plaintext" id="txtAmbienteFam" value="@emprendedor.AmbienteFam">*@
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtEstadoCivil" class="col-sm-5 col-form-label"><b>Estado Civil: </b></label>
                                <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="txtEstadoCivil" value="@emprendedor.getEstadoCivil()">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtInstruccion" class="col-sm-5 col-form-label"><b>Instrucción: </b></label>
                                <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="txtInstruccion" value="@emprendedor.getInstruccion()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab emprendimiento-->
                <div class="tab-pane fade" id="emprendimiento" role="tabpanel" aria-labelledby="emprendimiento-tab">
                    <br />
                    <div class="row">
                        <div class="col-2"><img src="" style="width:160px; height:200px;" /></div>
                        <div class="col">
                            <div class="row">
                                <div class="col"><h3>@PC.emprendimiento.nombre</h3></div>
                            </div>
                            <div class="row top-space5">
                                <div class="col">@PC.emprendimiento.descripcion</div>
                            </div>
                            <div class="row top-space5">
                                <div class="col">Correo: @PC.emprendimiento.ruc</div>
                            </div>

                        </div>
                    </div>

                </div>
                <!--tab requisitos-->
                <div class="tab-pane fade" id="requisitos" role="tabpanel" aria-labelledby="requisitos-tab">
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-3 espacioVertical" id="misPostulaciones">
                                <div class="card-header">
                                    <div class="row">
                                        <h3 class="col-sm-12"> Requisitos </h3>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row top-space">
                                        <div class="col-sm-12">
                                            <table id="requisitosPostulacion" class="table table-bordered" width="100%"></table>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer ">
                                    <div class="row ">

                                        <div class="col-sm-12 text-right">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--tab postulacion-->
                <div class="tab-pane fade" id="postulacion" role="tabpanel" aria-labelledby="postulacion-tab">
                    <br />
                </div>
                <!--tab documentos-->
                <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="documentos-tab">
                    <div id="dvDocumentos"></div>

                    <br />
                    <!--medio aprobación-->
                    <div class="row">
                        <div class="col-12">
                            <a id="btnMedioAprobacion" href="#" class="btn btn-light"><i class="fas fa-download"></i> Medio de aprobación</a>
                        </div>
                    </div>
                    <!--contrato-->
                    <div class="row">
                        <div class="col-12">
                            <a id="btnContrato" href="#" class="btn btn-light"><i class="fas fa-download"></i> Contrato</a>
                        </div>
                    </div>
                    <!--diagnóstico-->
                    <div class="row">
                        <div class="col-12">
                            <a id="btnDiagnostico" href="#" class="btn btn-light"><i class="fas fa-download"></i> Diagnostico Emprendedor</a>
                        </div>
                    </div>
                    <!--brief-->
                    <div class="row">
                        <div class="col-12">
                            <a id="btnBrief" href="#" class="btn btn-light"><i class="fas fa-download"></i> Brief</a>
                        </div>
                    </div>
                    <!--Comité-->
                    <div class="row">
                        <div class="col-2">
                            id Comité postulación:
                        </div>
                        <div class="col-2">
                            <input type="text" id="txtIdComitePostulacion" value="18" />
                        </div>
                        <div class="col-8">
                            <a id="btnComiteEvaluacion" href="#" class="btn btn-light"><i class="fas fa-download"></i> Comite Evaluación </a>
                        </div>
                    </div>
                </div>
                <!--tab seguimiento-->
                <div class="tab-pane fade" id="seguimiento" role="tabpanel" aria-labelledby="seguimiento-tab">
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <a class="btn btn-primary" href="@System.Configuration.ConfigurationManager.AppSettings["SITE_SEGUIMIENTO"]/Seguimientos/Index/1/@PC.postulacion.id" target="_blank" role="button"><i class="fas fa-info"></i> Ver Seguimiento</a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <table id="tblIndicadores" class="table table-striped" style="width:100%"></table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <canvas id="myChart" width="400" height="400"></canvas>
                        </div>
                    </div>


                    <script>
                        var ctx = document.getElementById('myChart');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [12, 19, 3, 5, 2, 3],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
                <!--tab deuda-->
                <div class="tab-pane fade" id="deudas" role="tabpanel" aria-labelledby="deudas-tab">
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <a class="btn btn-primary" href="@System.Configuration.ConfigurationManager.AppSettings["SITE_COBRANZAS"]/Pagos/Deudor/1/@PC.postulacion.id" target="_blank" role="button"><i class="fas fa-info"></i> Ver Deuda</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br /><br /><br />
}

