﻿@using Emprende.Models
@model LoginViewModel

@{
    ViewBag.Title = "Modelo de negocio ";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@{
    bool revisado = ViewBag.postulacion.revisadoEtapa ?? false;
    bool aprobado = ViewBag.postulacion.apruebaEtapa ?? false;
}

@section css{

}

@section js{
    <script src="~/js/Postulacion/IngresoDatos.js"></script>
    <script src="~/js/RequisitosPostulante/tablaRequisitos.js"></script>
}

@Html.Partial("_encabezado")

<div class="col-sm-6 text-left">
    <h6>Fecha máxima para completar su información: </h6>

    <h6> @Convert.ToDateTime(@ViewBag.postulacion.CON_convocatorias.fechaCierreDatos).ToString("dd MMMM yyyy")</h6>
</div>

@if (DateTime.Now <= @ViewBag.postulacion.CON_convocatorias.fechaCierreDatos)
{
    <div class="col-sm-6 text-left">
        Favor completar los siguientes datos.
    </div>
    <div class="card mb-3 espacioVertical" id="misPostulaciones">
        <div class="card-header">
            <div class="row">
                <h3 class="col-sm-12"> Requisitos </h3>
            </div>
        </div>

        <div class="card-body">
            <div class="row top-space">
                <div class="col-sm-12">
                    <table id="requisitosPostulacion" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>

        <div class="card-footer ">
            <div class="row ">
                <div class="col-sm-12 text-right">
                    <!--En esta etapa se manejan las dos variables con el mismo valor. Sólo compruebo una-->
                    @if (revisado)
                    {
                        <span class="text-danger">Los datos ya fueron enviados&nbsp; &nbsp;</span>
                    }
                    <button id="btnEnviarDatos" class="btn btn-primary"><i class="fa fa-cogs"></i> Enviar Datos</button>
                </div>
            </div>
        </div>
    </div>
}

else
{
    <div class="col-sm-12 text-center">
        <br />

        <h2> El plazo para cargar la información ha expirado </h2>

        <br />

    </div>
}