﻿
@{
    ViewBag.Title = "Postulantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section js{
    <script src="~/js/Postulacion/postulaciones.js"></script>
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.PE.idConvocatoria" />
    <input type="hidden" id="txtPostulaciones" value="@ViewBag.PE.GetJsonPostulaciones()" />
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("convocatorias","Convocatoria")">Convocatorias</a>
        </li>
    </ol>

    <div class="row">
        <div class="col" style="">
            <h4 class="titlePage">@ViewBag.PE.convocatoria.nombre</h4>
            <hr />
        </div>
    </div>



    <div class="row top-space30">
        <div class="col-2">
            <label for="slcEtapaPostulacion">Filtrar por etapa:</label>
        </div>
        <div class="col-4">
            <select id="slcEtapaPostulacion" class="form-control">
                <option value="0" selected>Todas</option>
                @foreach (var etapa in ViewBag.PE.etapas)
                {
                    <option value="@etapa.id">@etapa.nombre</option>
                }
            </select>
        </div>
    </div>


        <div class="card border-secondary top-space50">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table id="tblPostulaciones" class="table table-bordered" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
}