﻿body
{
	background-color: #305876;
}

/*links en general*/
A:link
{
	text-decoration: none;
}
A:visited
{
	text-decoration: none;
}
A:active
{
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
}

/*links clase link*/
A.link:link
{
	text-decoration: underline;
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #5088A6;
}
A.link:visited
{
	text-decoration: underline;
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #103856;
}
A.link:active
{
	text-decoration: underline;
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #5088A6;
}
A.link:hover
{
	text-decoration: none;
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #5088A6;
}

/*estilo de viñetas*/
ul
{
	color: #771116;
	list-style-type: square;
}

/* Titulos*/
.titulo
{
	color: Black;
	font-size: 16px;
	font-family: verdana;
	font-weight: bold;
	text-align: left;
}

/*subtitulo master*/
.tituloRojo
{
	color: #305876;
	font-size: 17px;
	font-family: verdana;
	font-weight: bold;
}
.tituloGris
{
	color: #444444;
	font-size: 16px;
	font-family: verdana;
	font-weight: bold;
}
.tituloBlanco
{
	color: White;
	font-size: 16px;
	font-family: verdana;
	font-weight: bold;
	line-height: 20pt;
}

/*subtitulos*/
.subtitulo
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: Black;
	font-weight: bold;
}
.subtituloBlanco
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: White;
	font-weight: bold;
}


.subtituloAzul
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #771116;
	font-weight: bold;
}

/*links en general*/
A.subtituloAzul:link
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #771116;
	font-weight: bold;
	text-decoration: underline;
}
A.subtituloAzul:visited
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #771116;
	font-weight: bold;
	text-decoration: underline;
}
A.subtituloAzul:active
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #771116;
	font-weight: bold;
	text-decoration: underline;
}
A.subtituloAzul:hover
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #771116;
	font-weight: bold;
	text-decoration: none;
}

.subtituloRojo
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #305876;
	font-weight: bold;
}

.grdSubtitulo
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: Black; /*font-weight:bold;*/
	background-color: #e0e0e0;
}
.grdPrimeraColumna
{
	width: 200px;
}

/*texto*/
.textoBlanco
{
	font-family: verdana;
	font-size: 13px;
	color: White;
	text-decoration: none;
}
.texto
{
	font-family: verdana;
	font-size: 13px;
	color: Black;
}
.linkNoLine
{
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	font-family: verdana;
	font-size: 10px;
	text-align: left;
	color: #305876;
}
/*numeros*/
.numeros
{
	font-family: verdana;
	font-size: 13px;
	color: Black;
	text-align: right;
}

/*titulo de gridview*/
.grdTitulo
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: White;
	font-weight: bold;
	background-color: #305876;
}

/*titulo de sugerencia*/
.sgrTitulo
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: White;
	font-weight: bold;
	background-color: #307658;
}

/*titulo de sugerencia*/
.ARBOLSeleccionado
{
	margin: 2px 10px 2px 10px;
	padding: 2px 10px 2px 10px;
	font-size: 13px;
	font-weight: bold;
	background-color: #800000;
	color: #FFFFFF;
}

/*cultar*/
.oculto
{
	/*visibility: hidden;*/
	display: none;
}

/*configuración estándar de espacios en tablas*/
/*espacio horizontal y vertical*/
.esp
{
	width: 20px;
	height: 20px;
}
/*espacio solo vertical*/
.espv
{
	height: 20px;
	text-align: right;
}
/*espacio horizontal*/
.esph
{
	width: 20px;
}

/**bordes/
/*borde total*/
.bordes
{
	border-right: #305876 1px solid;
	border-top: #305876 1px solid;
	border-left: #305876 1px solid;
	border-bottom: #305876 1px solid;
}
/*borde caja subsiguiente*/
.bordes2
{
	border-right: #E0E0E0 1px solid;
	border-top: #E0E0E0 1px solid;
	border-left: #E0E0E0 1px solid;
	border-bottom: #E0E0E0 1px solid;
}
/*solo borde inferior*/
.bordeInf
{
	border-bottom: #696969 2px solid;
}

/*Margenes de pestañas*/
.margenPestana
{
	background-color: #305876;
}
.margenPestanaV
{
	background-color: #305876;
}
.margenPestanaNavegador
{
	width: 220px;
}
/*Texto sugerido*/
.textoSugerido
{
	background-color: #ffffff;
	width: 400px;
}
.fondoOscuro
{
	background-color: #eeeeee;
}
.instruccion
{
	text-decoration: underline;
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #5088A6;
	cursor: pointer;
}

.comentario
{
	font-family: verdana;
	font-size: 10px;
	color: Black;
	text-align: left;
}
.alerta
{
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #ff0000;
}
.clpTitulo
{
	cursor: pointer;
}
.boton
{
	width: 130px;
}
#divObservaciones
{
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 35%;
	left: 33%;
	background-color: #EEEEEE;
	border: none;
}
.cajaBuscar
{
	border: solid 1px #305876;
	padding: 2px;
}
.espPestanas
{
	width: 1px;
	height: 1px;
}

.pstTitulo
{
	background-color: #e0e0e0;
	padding-right: 10px;
	text-align: left;
}
.pstTituloSeleccionado
{
	background-color: #c0c0c0;
	padding-right: 10px;
}
.menuBlanco
{
	font-family: verdana;
	font-size: 11px;
	color: White;
	text-decoration: none;
	text-align: center;
}

/*salto de línea para reportes rechazados*/
.salto
{
	page-break-before: always;
}

.entretexto
{
	height: 21px;
	vertical-align: middle;
	color: #333333;
	font-size: 10px;
	font-variant: small-caps;
}

.entretexto1
{
	height: 21px;
	vertical-align: middle;
	color: #333333;
	font-size: 14px;
	font-variant: small-caps;
	font-family: Arial Narrow;
}

.entretexto2
{
	height: 21px;
	vertical-align: middle;
	color: #333333;
	font-size: 14px;
}

.bordes1
{
	border-top: #d6d4ae 1px solid;
	border-left: #d6d4ae 1px solid;
}
.bordeInferior
{
	border-bottom: #d6d4ae 1px solid;
}

.bordederecha
{
	border-right: #d6d4ae 1px solid;
}

.bordeizqu
{
	border-left: #d6d4ae 1px solid;
}

.bordeSuperior
{
	border-top: #d6d4ae 1px solid;
}

.subtituloNegro
{
	height: 14px;
	font-size: 12px;
	font-weight: bold;
	color: White;
	background-color: Gray;
}
.subtituloNegro1
{
	height: 14px;
	font-size: 14px;
	font-weight: bold;
	color: White;
	background-color: Gray;
	font-family: Arial Narrow;
}

.tituloRojo2
{
	font-size: 13px;
	font-weight: bold;
	color: White;
	background-color: #cc0000;
}

.letraroja
{
	color: #cc0000;
	font-weight: bold;
}

