﻿
@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
}
@section js{
    <script src="~/vendor/dataTables/dataTables.buttons.min.js"></script>
    <script src="~/vendor/dataTables/jszip.min.js"></script>
    <script src="~/vendor/dataTables/buttons.html5.min.js "></script>
    <script src="~/js/ProveedoresCapacitacion/Administrar.js"></script>
}

@*tabla comite*@
<div class="card mb-3 espacioVertical">
    <div class="card-header">
        <div class="row">
            <h3 class="col-sm-12"> Proveedores  </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row ">
            <div class="col text-left">
                <button class="btn btn-primary" id="btnAgregarProveedor" type="button" data-toggle="modal" data-target="#modalProveedores"> <i class="fa fa-plus-circle"></i> Agregar </button>
            </div>
        </div>
        <table id="tblProveedores" class="table table-bordered espacioVertical" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal Agregar Proveedor-->
<div class="modal fade" id="modalProveedores" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Datos Proveedor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">

                    <div class="col-md-7">
                        <input type="hidden" id="txtIdProveedor" class="form-control" value="0" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtNombreProveedor" class="col-md-3 col-md-offset-1 control-label">Nombre:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtNombreProveedor" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtCorreoProveedor" class="col-md-3 col-md-offset-1 control-label">Correo:</label>
                    <div class="col-md-7">
                        <input type="email" id="txtCorreoProveedor" class="form-control" />
                    </div>

                </div>
                

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnBorrarProveedor" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
                <button id="btnGuardarProveedor" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>
<!-- Fin Modal Agregar Proveedor-->