﻿
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
}
@section js{
    <script src="~/vendor/dataTables/dataTables.buttons.min.js"></script>
    <script src="~/vendor/dataTables/jszip.min.js"></script>
    <script src="~/vendor/dataTables/buttons.html5.min.js "></script>
    <script src="~/js/Usuario/Administrar.js"></script>
}

<h2>Administrar Usuarios</h2>