﻿@using Emprende.Models
@model LoginViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}
@section css{

}
@section js{

    <script src="~/js/Usuario/Dashboard.js"></script>
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Dashboard","Usuario")"><h2>@ViewBag.encabezado</h2> </a>
    </li>
</ol>

<div style="display:none" id="crearEmprendimiento" class="text-center">

    <button id="btnLgCrearEmprendimiento" class="btn btn-primary btn-lg">
        <a class="fa fa-plus-circle espacioVertical"></a>
        Registra tu Empredimiento
        <br />
        Aquí !
    </button>

</div>

<div style="display:none" class="card mb-3 espacioVertical" id="misPostulaciones">
    <div class="card-header">
        <div class="row">
            <h3 class="col-sm-12"> Mis postulaciones</h3>
        </div>
    </div>

    <div class="card-body">
        <div class="row top-space">
            <div class="col-sm-12">
                <table id="tblMisPostulaciones" class="table table-bordered" width="100%"></table>
            </div>
        </div>
    </div>

    <div class="card-footer ">
        <div class="row ">
            <div class="col text-right">
                @*<button id="btnAgregarEmprendimiento" class=" btn btn-primary" data-toggle="modal" data-target="#modalRegistarEmprendimiento">Agregar emprendimiento</button>*@
            </div>

        </div>
    </div>

</div>

<div style="display:none" class="card mb-3 espacioVertical" id="misEmprendimientos">
    <div class="card-header">
        <div class="row">
            <h3 class="col-sm-12"> Mis emprendimientos</h3>
        </div>
    </div>

    <div class="card-body">
        <div class="row top-space">
            <div class="col-sm-12">
                <table id="tblMisEmprendimientos" class="table table-bordered" width="100%"></table>
            </div>
        </div>
    </div>

    <div class="card-footer ">
        <div class="row ">
            <div class="col text-right">
                <button id="btnAgregarEmprendimiento" class=" btn btn-primary">Agregar emprendimiento</button>
            </div>

        </div>
    </div>

</div>




<!-- Modal Convocatorias abiertas-->
<div class="modal fade" id="modalPostular" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Convocatorias Abiertas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">
                <div class="row form-group">
                    <input id="txtIdEmprendimiento" type="hidden" />
                    <label class="col-sm-3">Seleccione:</label>
                    <select id="slcConvocatoriasAbiertas" class="form-control col-sm-8"></select>
                </div>
            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnPostularAConvocatoria" type="button" class="btn btn-primary"><i class="fa fa-check-circle"></i> Postular </button>
            </div>
        </div>

    </div>
</div>




