﻿<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("convocatorias","Convocatoria")">Convocatorias</a>
    </li>
</ol>

<div class="row">
    <div class="col">
        <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
    </div>
    <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.convocatoria.Etapas.nombre</div>
</div>
<div class="row top-space">
    <div class="col">Apertura: @ViewBag.convocatoria.fechaApertura.ToString("yyyy/MM/dd")</div>
    @if (ViewBag.convocatoria.fechaCierre == null)
    {
        <div class="col">No existe fecha de cierre </div>
    }
    else
    {
        <div id="dvFechaCierre" class="col">Cierre: @ViewBag.convocatoria.fechaCierre.ToString("yyyy/MM/dd")</div>
    }
    <div class="col">
    </div>
</div>
<hr />
<br />
