﻿@model bool
@{  Emprende.Models.DatosPropuesta DP = ViewBag.InfoPropuesta.DatosPropuesta;
    Emprende.Models.DatosAmortizacion DA = ViewBag.InfoPropuesta.AmortizacionCalculada;
    List<Emprende.Models.MesAmortizacion> MA = ViewBag.InfoPropuesta.ListaAmortizacion;
    List<Emprende.Models.CON_propuestaObjetivos> POs = ViewBag.InfoPropuesta.Objetivos;
    Emprende.Models.CON_propuestas PR = ViewBag.InfoPropuesta.Propuesta;
}

<input type="hidden" id="txtPropuestasObjetivos" value="@ViewBag.InfoPropuesta.ObjetivosJson" />
<input type="hidden" id="txtTotalPropuesta" value="@(PR == null ? 0:(PR.total ?? 0))" />
<input type="hidden" id="txtCuotaMensual" value="@(PR == null ? 0 : (PR.coutaMensual ?? 0))" />
<input type="hidden" id="txtPuntoEquilibrio" value="@(DP == null ? 0 : DP.PE2Meses)" />

@if (ViewContext.Controller.ValueProvider.GetValue("action").RawValue.Equals("ImpresionPropuesta"))
{
    <div class="row">
        <div class="col text-center">
            <img src="~/Images/logo-emprendeFe.png" />
        </div>
    </div>
    <br/><br />
}

<div class="row">
    <div class="col-8">
        <strong>Nombre: </strong>@ViewBag.postulante.emprendedor
    </div>
    <div class="col">
        <strong>C.I.: </strong>@(ViewBag.postulante.cedula ?? "")
    </div>
</div>

<div class="row">
    <div class="col"><strong>Nombre del emprendimiento: </strong>@ViewBag.postulante.emprendimiento</div>
</div>
<div class="row">
    <div class="col">
        <strong>Estado del emprendimiento: </strong>@(ViewBag.postulante.estadoEmprendimiento ?? "")
    </div>
</div>
<div class="row">
    <div class="col">
        <strong>Objetivos a financiar: </strong>@(ViewBag.postulante.objetivosFinanciar ?? "")
    </div>
</div>
<div class="row">
    <div class="col">
        <strong>Fecha de levantamiento de información: </strong>@(ViewBag.postulante.fechaInformacion == null ? "" : ViewBag.postulante.fechaInformacion.ToString("yyyy/MM/dd"))
    </div>
</div>
<div class="row top-space30">
    <div class="col">Indicadores</div>
</div>
<div class="row top-space30">
    <div class="col">Escenario Actual</div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Precio de venta ponderado</th>
                    <th scope="col">Costo promedio ponderado</th>
                    <th scope="col">Ventas mensuales promedio actuales</th>
                    <th scope="col">Ventas estimadas en unidades</th>
                    <th scope="col">Costos Fijos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>$ <span id="spPrecioPonderado">@(DP != null ? DP.PrecioPonderado : 0)</span></td>
                    <td>$ <span id="spCostoPonderado">@(DP != null ? DP.CostoPonderado : 0)</span></td>
                    <td>$ <span id="spVentasMensuales">@(DP != null ? DP.VentasMensuales : 0)</span></td>
                    <td><span id="spVentasEstimadasUnidades">@(DP != null ? DP.VentasEstimadasUnidades : 0)</span></td>
                    <td>$<span id="spCostoFijo">@(DP != null ? DP.CostoFijo : 0)</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row top-space30">
    <div class="col">Escenario con la inversión</div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" rowspan="2">Inversión sugerida</th>
                    <th scope="col" rowspan="2">Ventas promedio mensuales estimadas</th>
                    <th scope="col" rowspan="2">Ventas estimadas en unidades</th>
                    <th scope="col">P.E.2</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">Unidades</th>
                    <th scope="col">$</th>
                    <th scope="col">Meses</th>
            </thead>
            <tbody>
                <tr>
                    <td>$ <span id="spInversionSugerida">@(DP != null ? DP.InversionSugerida : 0)</span></td>
                    <td>
                        @if (Model)
                        {
                            @(PR != null && PR.ventaEstimada.HasValue ? ((Decimal)PR.ventaEstimada).ToString() : "")
                        }
                        else
                        {
                            <input id="txtVentaEstimada" type="number" step="any" class="form-control" placeholder="Ingresar" value="@(PR != null && PR.ventaEstimada.HasValue ? ((Decimal)PR.ventaEstimada).ToString() : "")" />
                        }
                        
                    </td>
                    <td><span id="spVentaEstimada">@(DP != null ? DP.InversionVentasEstimadasUnidades : 0)</span></td>
                    <td><span id="spPE2Unidades">@(DP != null ? DP.PE2Unidades : 0)</span></td>
                    <td><span id="spPE2Dolar">@(DP != null ? DP.PE2Dolar : 0)</span></td>
                    <td><span id="spPE2Meses">@(DP != null ? DP.PE2Meses : 0)</span></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


<div class="row top-space30">
    <div class="col">Propuesta CRISFE</div>
</div>
<div class="row">
    <div class="col">El emprendedor debe alcanzar los siguientes objetivos:</div>
    <div class="col text-right">
        @if (!Model)
        {
            <button type="button" id="btnAddObjetivoModal" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Agregar objetivo</button>
        }
        
    </div>
</div>
<div class="row top-space">
    <div class="col">
        <table class="table table-bordered" id="tblObjetivoFijo">
            <thead>
                <tr>
                    <th scope="col">Mes</th>
                    <th scope="col">Objetivo</th>
                    <th scope="col">Recursos</th>
                    <th scope="col">Desembolso</th>
                </tr>
            </thead>
            <tbody>
                @if (POs != null)
                {
                    int contador = 0;
                    foreach (Emprende.Models.CON_propuestaObjetivos po in POs)
                    {
                        contador = 0;
                        List<Emprende.Models.Recurso> rec = po.GetRecursos();
                        foreach (Emprende.Models.Recurso re in rec)
                        {
                            contador += 1;
                            if (contador == 1)
                            {
                                @Html.Raw("<tr>");
                                @Html.Raw("<td rowspan='" + rec.Count + "'>" + po.mes + "</td>");
                                if (Model)
                                {
                                    @Html.Raw("<td rowspan='" + rec.Count + "'>" + po.nombre + "</td>");
                                }
                                else
                                {
                                    @Html.Raw("<td rowspan='" + rec.Count + "'><a href='#' class='editObjetivo' data-id='" + po.id + "'>" + po.nombre + "</a> </td>");
                                }

                            }
                            else
                            {
                                    @Html.Raw("<tr>");
                            }

                            @Html.Raw("<td>" + re.nombre + "</td>");
                            @Html.Raw("<td>" + re.valor + "</td>");
                            @Html.Raw("</tr>");
                        }
                    }
                }
                @Html.Raw("<tr><td>Total</td><td></td><td></td><td>" + (PR != null ? PR.total : 0) + "</td></tr>")
            </tbody>
        </table>
    </div>
</div>

<div class="row top-space30">
    <div class="col">Valoración del proyecto</div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Valor del proyecto</th>
                    <th>T-Pe</th>
                    <th>Inversión Crisfe</th>
                    <th>Inversión</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2"><span id="spValorProyecto">@(DP != null ? DP.ValorProyecto : 0)</span></td>
                    <td rowspan="2"><span id="spTpe">@(DP != null ? DP.Tpe : 0)</span></td>
                    <td rowspan="2" class="valorTotal"><span id="spInversionCrisfe">@(DP != null ? DP.InversionCrisfe : 0)</span></td>
                    <td class="text-center">$<span id="spSemilla">@(DP != null ? DP.Semilla : 0)</span></td>
                </tr>
                <tr>
                    <td class="text-center"><span id="spInversion">@(DP != null ? DP.Inversion : 0)</span>%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row top-space30">
    <div class="col">
        <h6>Calculadora de capital</h6>
    </div>
</div>
<div class="row top-space">
    <div class="col-3">Plazo:<br />
        @if (!Model)
        {<input id="txtPlazo" type="number" class="form-control" placeholder="Ingresar" value="@(PR != null ? PR.plazo.ToString() : "")" />}
        else
        {
            @(PR != null ? PR.plazo.ToString() : "")
        }
    </div>
    <div class="col-3">Gracia:<br />
@if (!Model)
{
        <input id="txtGracias" type="number" class="form-control" placeholder="Ingresar" value="@(PR != null ? PR.gracia.ToString() : "")" />}
else
{
    @(PR != null ? PR.gracia.ToString() : "")
}
    </div>
    <div class="col-3">% aporte voluntario:<br />
@if (!Model)
{
    <input id="txtTasa" type="number" class="form-control" placeholder="Ingresar" value="@(PR != null ?PR.tasa:ViewBag.convocatoria.tasa)" />
}
else
{
    @(PR != null ? PR.tasa : ViewBag.convocatoria.tasa)
}

    </div>
    <div class="col-3">&nbsp;<br />@if (!Model)
    {<button id="btnCalculo" type="button" class="btn btn-primary btn-sm"><i class="fa fa-calculator"></i> Calcular</button>}</div>
</div>
<div class="row top-space">
    <div class="col-5">
        <table class="table">
            <tbody>
                <tr>
                    <td>Apoyo Económico</td>
                    <td>$<span id="spApoyoEconomico">@(DA != null ? DA.ApoyoEconomico : 0)</span></td>
                </tr>
                <tr>
                    <td>Aporte Voluntario al Fondo</td>
                    <td><span id="spAporteFondoEmprendimiento">@(DA != null ? DA.AporteFondo : 0)</span></td>
                </tr>
                <tr>
                    <td>Total apoyo</td>
                    <td><span id="spTotalApoyo">@(DA != null ? DA.TotalApoyo : 0)</span></td>
                </tr>
                <tr>
                    <td>Tiempo</td>
                    <td><span id="spTiempo">@(DA != null ? DA.Tiempo : 0)</span></td>
                </tr>
                <tr>
                    <td>Reembolso</td>
                    <td><span id="spReembolso">-@(DA != null ? Math.Round(DA.Reembolso,2) : 0)</span></td>
                </tr>
                <tr>
                    <td>Fecha de inicio de pago</td>
                    <td><span id="spFechaInicioPago">@(DA != null ? DA.FechaInicioPago.ToString("yyyy/MM/dd") : "")</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row top-space30">
    <div class="col">
        <table id="tblAmortizacion" class="table table-bordered">
            <thead>
                <tr>
                    <th>Nro.</th>
                    <th>Fecha</th>
                    <th>Saldo</th>
                    <th>Aporte Fondo</th>
                    <th>Capital</th>
                    <th>Reembolso</th>
                </tr>
            </thead>
            <tbody>
                @if (MA != null)
                {
                    foreach (Emprende.Models.MesAmortizacion ma in MA)
                    {
                        <tr><td>@ma.numero</td><td>@(ma.fecha != null ? Convert.ToDateTime(ma.fecha).ToString("yyyy/MM/dd") : "" )</td><td>@ma.saldo</td><td>@ma.aporte</td><td>@ma.capital</td><td>@ma.reembolso</td></tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row top-space">
    <div class="col-3">Condiciones:<br />
    @if (Model)
    {
        @(PR != null ? PR.condiciones : "")
    }
    else
    {
        <input id="txtCondiciones" type="text" class="form-control" value="@(PR != null ?PR.condiciones:"")" />
    }
    </div>
    <div class="col-3">Notas:<br />
    @if (Model)
    {
        @(PR != null ? PR.notas : "")
    }
    else
    {
        <input id="txtNotas" type="text" class="form-control" value="@(PR!=null ?PR.notas:"")" />
    }
    </div>
    <div class="col">Observaciones:<br />
    @if (Model)
    {
        @(PR != null ? PR.observaciones : "")
    }
    else
    {
        <input id="txtObservaciones" type="text" class="form-control" value="@(PR != null ?PR.observaciones:"")" />
    }
    </div>
</div>
