﻿
@{
    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <input type="hidden" id="txtIdEtapa" value="@ViewBag.convocatoria.idEtapa" />

    @Html.Partial("_encabezado")

    <div class="row">
        <div class="col-3">
            <label for="slcAcciones">Acciones:</label>
            <select id="slcAcciones" class="form-control"></select>
        </div>
        <div class="col-3" style="padding-top:31px;">
            <button id="btnEjecutar" type="button" class="btn btn-primary"><i class="fa fa-cog"></i> Ejecutar</button>
        </div>
    </div>
    <br />
    <hr/>
    <div class="card border-secondary top-space30">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="tblPostulaciones" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="extenderPlazoModal" tabindex="-1" role="dialog" aria-labelledby="extenderPlazoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Plazo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">Fecha plazo</div>
                        <div class="col">
                            <input type="date" class="form-control" id="txtFechaPlazo" value="@ViewBag.convocatoria.fechaCierre.ToString("yyyy-MM-dd")"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnExtenderPlazo" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
}


@section js{
    <script src="~/js/Convocatoria/administrar.js"></script>
}