﻿
@{
    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <input type="hidden" id="txtIdEtapa" value="@ViewBag.convocatoria.idEtapa" />

     <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("convocatorias","Convocatoria")">Convocatorias</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.convocatoria.Etapas.nombre</div>
    </div>


    <br />
    <hr />
        <div class="card border-secondary top-space30">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="slcMiembrosComite">Seleccione los miembros</label>
                            <select class="form-control" id="slcMiembrosComite">
                                @foreach (var mc in ViewBag.miembrosPrefactibilidad)
                                {
                                    <option id="mc@(mc.id)" value="@mc.id">@mc.nombre</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" id="btnAplicarMiembros" style="margin-top:30px;"><i class="fa fa-cogs"></i> Asignar</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary" id="btnLimpiarMiembros" style="margin-top:30px;"><i class="fa fa-eraser"></i> Limpiar</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <table id="tblPostulaciones" class="table table-bordered" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row top-space30">
            <div class="col text-right">
                <button id="btnCerrarEtapa" type="button" class="btn btn-primary"><i class="fa fa-cog"></i> Cerrar etapa</button>
            </div>
        </div>
        <br/>

        <!-- Modal -->
        <div class="modal fade" id="agendarPFModal" tabindex="-1" role="dialog" aria-labelledby="extenderPlazoModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agendar prefactibilidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-3">Fecha:</div>
                            <div class="col">
                                <input type="date" class="form-control" id="txtFechaPF" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="row top-space10">
                            <div class="col-3">
                                Hora:
                            </div>
                            <div class="col">
                                <div class="input-group date" id="txtHora" data-target-input="nearest">
                                    <input type="text" id="txtHoraPF" class="form-control datetimepicker-input" data-target="#txtHora" />
                                    <div class="input-group-append" data-target="#txtHora" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-space10">
                            <div class="col-3">Lugar:</div>
                            <div class="col">
                                <input type="text" class="form-control" id="txtLugarPF" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="btnAgendarPF" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>

}


@section js{
<script src="~/vendor/moment/moment.min.js"></script>
<script src="~/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
<script src="~/js/Convocatoria/agendarPrefactibilidad.js"></script>
}