﻿
@{
    ViewBag.Title = "Lista de convocatorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
}
@section js{
<script src="~/vendor/dataTables/dataTables.buttons.min.js"></script>
<script src="~/vendor/dataTables/jszip.min.js"></script>
<script src="~/vendor/dataTables/buttons.html5.min.js "></script>
<script src="~/js/Convocatoria/convocatorias.js"></script>    
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("convocatorias","Convocatoria")">Convocatorias</a>
    </li>
</ol>

<div class="clearfix"></div>

<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary" id="btnNuevaConvocatoria" type="button" data-toggle="modal" data-target="#modalCrearConvocatoria"><i class="fa fa-plus-circle"></i> Nueva Convocatoria</button>
    </div>
</div>

<div class="top-space"></div>

<div class="row">
    <div class="col">
        <table id="tblConvocatorias" class="table table-bordered" width="100%"></table>
    </div>
</div>


<!-- Modal Crear convocatoria-->
<div class="modal fade" id="modalCrearConvocatoria" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Convocatoria</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                
            </div>
            <!-- Modal Body-->
            <div class="modal-body">
                <div class="row form-group">
                    <label for="txtNombreConvocatoria" class="col-md-3 col-md-offset-1 control-label">Nombre:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtNombreConvocatoria" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnCrearConvocatoria" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Crear convocatoria</button>
            </div>
        </div>

    </div>
</div>


