﻿
@{
    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime fechaPosibleCierre = ViewBag.convocatoria.fechaCierreDatos ?? DateTime.Today.AddDays(7);
}



@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("convocatorias","Convocatoria")">Convocatorias</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.convocatoria.Etapas.nombre</div>
    </div>

    <div class="row">
        <div class="col-3">
            <label for="slcAcciones">Acciones:</label>
            <select id="slcAcciones" class="form-control">
                <option value="extenderPlazo">Extender plazo</option>
                <option value="cerrarEtapa">Cerrar etapa</option>
            </select>
        </div>
        <div class="col-3" style="padding-top:31px;">
            <button id="btnEjecutar" type="button" class="btn btn-primary"><i class="fa fa-cog"></i> Ejecutar</button>
        </div>
        <div id="dvFechaCierre" class="col text-right" data-fechacierre="@(ViewBag.convocatoria.fechaCierreDatos != null ? ViewBag.convocatoria.fechaCierreDatos.ToString("yyyy/MM/dd") : "")">
            <br/>
            <label>Fecha de cierre: </label>
        </div>
    </div>
    <br />
    <hr />
    <div class="card border-secondary top-space30">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="tblPostulaciones" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="extenderPlazoModal" tabindex="-1" role="dialog" aria-labelledby="extenderPlazoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Plazo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">Fecha plazo</div>
                        <div class="col">
                            <input type="date" class="form-control" id="txtFechaPlazo" value="@fechaPosibleCierre.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnExtenderPlazo" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
}


@section js{
    <script src="~/js/Convocatoria/datos.js"></script>
}