﻿
@{
    ViewBag.Title = "Editar convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool capacitacion = false;
}
@section css{
<link href="~/vendor/editor/editor.css" rel="stylesheet" />
}
@section js{
    <script src="~/vendor/editor/editor.js"></script>
    <script src="~/js/Convocatoria/editar.js"></script>
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("convocatorias","Convocatoria")">Convocatorias</a>
    </li>
    <li class="breadcrumb-item active">Editar</li>
</ol>

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
@if (ViewBag.guardado != null)
{
    <div class="alert alert-info" role="alert">
        Convocatoria guardada
    </div>
}

@if (ViewBag.convocatoria != null)
{
    <form id="frmEditar" action="~/Convocatoria/Editar/@ViewBag.convocatoria.id" method="post" enctype="multipart/form-data">
        <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
        <div class="form-row">
            <div class="form-group col-4">
                <label for="txtNombreConvocatoria">Nombre de la convocatoria</label>
                <input type="text" class="form-control" id="txtNombreConvocatoria" name="txtNombreConvocatoria" placeholder="Convocatoria" value="@ViewBag.convocatoria.nombre" />
            </div>
            <div class="col-1"></div>
            <div class="form-group col-3">
                <label for="txtFechaApertura">Fecha de apertura</label>
                <input type="date" class="form-control" id="txtFechaApertura" name="txtFechaApertura" value="@ViewBag.convocatoria.fechaApertura.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-1"></div>
            <div class="form-group col-3">
                <label for="txtFechaCierre">Fecha de cierre</label>
                <input type="date" class="form-control" id="txtFechaCierre" name="txtFechaCierre" value="@ViewBag.convocatoria.fechaCierre.ToString("yyyy-MM-dd")" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-3">
                <label for="slcTipoConvocatoria">Tipo de convocatoria</label>
                <select class="form-control" id="slcTipoConvocatoria" name="slcTipoConvocatoria">
                    @foreach (var ic in ViewBag.tiposConvocatoria)
                    {
                        <option value="@ic.id" @(ViewBag.convocatoria.idTipo == ic.id ? "selected" : "")>@ic.nombre</option>
                    }
                </select>
            </div>
            <div class="form-group col-1"></div>
            <div class="form-group col">
                <label for="txtDescripcion">Descripción</label>
                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" value="@ViewBag.convocatoria.descripcion" />
            </div>
        </div>





        <h6 class="card-title">Criterios</h6>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <textarea id="txtCriterios"></textarea>
                        <textarea id="txtEditorCriterios" name="txtEditorCriterios" hidden="">@(ViewBag.convocatoria.criterios ?? "")</textarea>
                    </div>
                </div>

            </div>
        </div>

            <hr />
            <p class="h4">Bases de la convocatoria</p>
            <br />
            <div class="form-row">

                @if (ViewBag.archivoBase != null)
                {
                    <div class="form-group col-4">
                        <label for="txtDescripcion">Archivo actual: @ViewBag.archivoBase.nombre</label>
                        <br />
                        <a href="@(Url.Action("Descarga","Convocatoria", new { id= ViewBag.archivoBase.idPublico }))" type="button" class="btn btn-success"><i class="fa fa-file-download"></i> Descargar archivo base</a>
                    </div>
                }
                else
                {
                    <div class="form-group col-4"><label for="txtDescripcion">No se ha cargado ningún archivo aún.</label></div>
                }
                <div class="form-group col-2"></div>
                <div class="form-group col-4">
                    <label for="">Cargar archivo</label>
                    <div class="row">
                        <div class="form-group col-12">
                            <input type="file" id="txtArchivoBase" name="txtArchivoBase" placeholder="" />
                        </div>
                    </div>

                </div>

            </div>
        
            <hr />
            <p class="h4">Requisitos</p>
            <br />
            @foreach (var req in ViewBag.convocatoria._requisitos)
            {
                if (req.nombre == "Capacitación" && (req._seleccionado || !ViewBag.editada)) { capacitacion = true; }
                <div class="form-check">
                    <input class="form-check-input chkRequisitos" type="checkbox" value="" id="chkRequisitos@(req.id)" data-nombre="@(req.nombre)" name="chkRequisitos@(req.id)" @(req._seleccionado || !ViewBag.editada ? "checked" : "")>
                    <label class="form-check-label" for="chkRequisitos@(req.id)">
                        @(req.nombre)
                    </label>
                </div>
            }
        <br />
        <div class="row">
            <div class="form-group col-12">
                <input type="text" class="form-control" id="txtCapacitacion" name="txtCapacitacion" placeholder="Requisitos de capacitación" value="@ViewBag.convocatoria.capacitacion" style="@(capacitacion?"":"display:none;")"/>
            </div>
        </div>
        

            <div class="form-row top-space">
                <div class="form-group col text-right">
                    @if (ViewBag.editada)
                    {
                        <button class="btn btn-warning" id="btnAbrirInscripcion" name="btnAbrirInscripcion" value="Abrir" type="button"><i class="fa fa-cog"></i> Abrir inscripción</button>
                    }
                    <button class="btn btn-primary" id="btnGuardarEdicion" name="btnGuardarEdicion" value="Guardar" type="submit"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
</form>
}