﻿
@{
    //Esta etapa funciona cuando esta en "Primer cierre"
    ViewBag.Title = "Eligibilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <input type="hidden" id="txtIdEtapa" value="@ViewBag.convocatoria.idEtapa" />
    <input type="hidden" id="txtPreguntas" value="@ViewBag.preguntas" />

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("convocatorias","Convocatoria")">Convocatorias</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.convocatoria.Etapas.nombre</div>
    </div>

    <div class="row top-space30">
        <div class="col-2"><h5>Criterios: </h5></div>
        <div class="col">
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddPreguntas" type="button" aria-expanded="false" aria-controls="modalAddPreguntas"><i class="fa fa-plus"></i> Agregar criterio</button>
        </div>
    </div>


    <div class="row top-space">
        <div class="col">
            <div class="card">
                <div class="card-body" id="filtroPreguntasRespuestas">
                </div>
            </div>
        </div>
    </div>

    <div class="row top-space">
        <div class="col text-right">
            <button id="btnFiltrar" type="button" class="btn btn-primary"><i class="fa fa-filter"></i> Filtrar</button>
        </div>
    </div>
    <br />
    <hr />
    <h6>Resultados:</h6>
    <div class="card border-secondary top-space">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="tblPostulaciones" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-space dvAplicable">
        <div class="col-9"></div>
            <div class="col-3">
                <div class="form-group">
                    <label for="txtFechaCierreDatos">Fecha máxima modelo de negocio</label>
                    <input type="date" class="form-control" id="txtFechaCierreDatos" />
                </div>
            </div>
        </div>
    <div class="row top-space30 dvAplicable">
        <div class="col text-right">
            <button id="btnAplicarCerrar" type="button" class="btn btn-primary"><i class="fa fa-cog"></i> Aplicar y cerrar</button>
        </div>
    </div>
    <br/>

    <div class="modal" id="modalAddPreguntas" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar pregunta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="slcPregunta">Pregunta:</label>
                        <select id="slcPregunta" class="form-control"></select>
                    </div>
                    <hr />
                    <h6 id="hRespuestas" class="card-title">Respuesta:</h6>
                    <div id="dvRespuestas"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btnAddPregunta" class="btn btn-primary">Agregar <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="mdlTextoCorreos" tabindex="-1" role="dialog" aria-labelledby="extenderPlazoModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Texto a enviar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtClasificados">Texto para postulantes clasificados</label>
                        <p style="font-size:12px;">No borrar los campos dinámicos, ej. {{fecha}}"</p>
                        <textarea class="form-control" id="txtClasificados" rows="3">@ViewBag.mailAprobados</textarea>
                    </div>


                    <div class="form-group">
                        <label for="txtNoClasificados">Texto para postulantes no clasificados</label>
                        <p style="font-size:12px;">No borrar los campos dinámicos, ej. {{fecha}}"</p>
                        <textarea class="form-control" id="txtNoClasificados" rows="3">@ViewBag.mailNoAprobados</textarea>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnEjecutarPrefactibilidad" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar y Enviar</button>
                </div>
            </div>
        </div>
    </div>

}


@section js{
<script src="~/vendor/dataTables/dataTables.buttons.min.js"></script>
<script src="~/vendor/dataTables/jszip.min.js"></script>
<script src="~/vendor/dataTables/buttons.html5.min.js "></script>
<script src="~/js/Convocatoria/eligibilidad.js"></script>
}