﻿

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Propuesta</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/css/sb-admin.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_propuesta",true)


    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
        window.print();
    </script>
</body>
</html>