﻿@{

    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool readOnly = true;
}
@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <input type="hidden" id="txtIdPostulante" value="@ViewBag.postulante.id" />

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Postulantes", "Convocatoria", new { id = ViewBag.convocatoria.id })">Postulantes</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.postulante.etapaPostulacion</div>
    </div>
    <hr />

    @Html.Partial("_propuesta",true)

    <div class="row top-space">
        @if (ViewBag.IsSuperAdmin)
        {
            <div class="col text-left">
                <a id="btnMedioAprobacion" href="@Url.Action("Descarga", "General",new { id=ViewBag.idPublico})" class="btn btn-light"><i class="fas fa-download"></i> Descargar medio de aprobación</a>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-primary" id="btnAprobarPropuesta"><i class="fa fa-save"></i> Aprobar propuesta</button>
            </div> 
            
        }
        else
        {
            <div class="col">
                <br />
                <div class="alert alert-primary text-left" role="alert">
                    Solo el usuario Superaministrador puede aprobar.
                </div>
            </div>

        }
    </div>
<br/>
}



@section js{
    <script src="~/js/Convocatoria/postulanteAprobarPropuesta.js"></script>
}
