﻿@{

    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <input type="hidden" id="txtIdPostulante" value="@ViewBag.postulante.id" />

    <br/>
    

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Postulantes", "Convocatoria", new { id = ViewBag.convocatoria.id })">Postulantes</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.postulante.etapaPostulacion</div>
    </div>
    <hr />

    
    <input type="hidden" id="txtTasaConvocatoria" value="@ViewBag.convocatoria.tasa" />
    
    
    @Html.Partial("_propuesta",false)


    <div class="row top-space">
        <div class="col text-left">
            <a id="btnImpPropuesta" target="_blank" href="@Url.Action("ImpresionPropuesta", "Convocatoria",new { id=ViewBag.postulante.id})" class="btn btn-light"><i class="fas fa-print"></i> Imprimir</a>
            <a id="btnImpResumen" href="#" class="btn btn-light"><i class="fa fa-file"></i> Imprimir resumen</a>
            <a id="btnMedioAprobacion" href="#" class="btn btn-light"><i class="fas fa-download"></i> Medio de aprobación</a>
        </div>
        <div class="col text-right">
            <button id="btnAceptarPropuesta" type="button" class="btn btn-primary"><i class="fas fa-cog"></i> Aceptar propuesta</button>
            <button id="btnGuardarPropuesta" type="button" class="btn btn-info"><i class="fa fa-save"></i> Guardar propuesta</button>
        </div>
    </div>

    <br />

    <!--------------->
    <!-- Modal -->
    <div class="modal fade" id="objetivoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar objetivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">Objetivo:</div>
                        <div class="col-2">Mes:</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="txtObjetivoRecursos" type="text" class="form-control" />
                        </div>
                        <div class="col-2">
                            <input id="txtMes" type="number" max="12" class="form-control" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">Recursos</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="txtRecursoObjetivo" value="" placeholder="Recurso" />
                        </div>
                        <div class="col">
                            <input class="form-control" id="txtDesembolsoObjetivo" value="" type="number" step="any" placeholder="Desembolso" />
                        </div>
                        <div class="col-1">
                            <button id="btnAgregarRecurso" class="btn btn-outline-info btn-sm" type="button"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="row top-space">
                        <table id="tblRecursosModal" class="table"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnAgregarObjetivoRecurso"><i class="fa fa-plus"></i> Agregar</button>
                </div>
            </div>
        </div>
    </div>





    <div class="modal fade" id="mdlAceptarPropuestaArchivo" tabindex="-1" role="dialog" aria-labelledby="mdlAceptarPropuestaArchivo" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdlAceptarPropuestaArchivo">Medio de aprobación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Cargar medio de aprobación</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fliArchivoPropuesta" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01" id="lblFliArchivoPropuesta">Seleccione archivo</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnArchivoYPropuesta"><i class="fa fa-save"></i> Aceptar propuesta</button>
                </div>
            </div>
        </div>
    </div>
}



@section js{
    <script src="~/js/Convocatoria/postulantePropuesta.js"></script>
}
