﻿@{
    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <input type="hidden" id="txtIdPostulante" value="@ViewBag.postulante.id" />
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Postulantes","Convocatoria",new { id = ViewBag.convocatoria.id })">Postulantes</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.postulante.etapaPostulacion</div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-2">@ViewBag.postulante.emprendedor</div>
        <div class="col">Emprendimiento: @ViewBag.postulante.emprendimiento</div>
    </div>


    <div class="card border-secondary top-space30">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="tblDocumentos" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
    <br/>
}

@section js{
    <script src="~/js/Convocatoria/postulanteDatosFinales.js"></script>
}