﻿@{
    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <input type="hidden" id="txtIdPostulante" value="@ViewBag.postulante.id" />
    <input type="hidden" id="txtPermiso" value="@ViewBag.permiso" />
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Postulantes","Convocatoria",new { id = ViewBag.convocatoria.id })">Postulantes</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.convocatoria.Etapas.nombre</div>
    </div>

    <hr />

    <div class="row">
        <div class="col-2">@ViewBag.postulante.emprendedor</div>
        <div class="col">Emprendimiento: @ViewBag.postulante.emprendimiento</div>
        <div class="col">Usuario asignado: <span id="spnNombreUsuarioAsignado">@(ViewBag.postulante.usuarioAsignado ?? "No asignado")</span></div>
        <div class="col-sm-2">
            <button id="btnGeolocalizar" class="btn btn-primary" data-toggle="modal" data-target="#modalGeoreferenciacion">Geolocalizar</button>
        </div>
    </div>

    <!-- Modal Georeferencia -->
    <div class="modal fade" id="modalGeoreferenciacion" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header-->
                <div class="modal-header">
                    <h4 class="modal-title text-left">Mapa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <!-- Modal Body-->
                <div class="modal-body">

                    <div id="map" style="width: 100%; height: 400px">

                    </div>

                </div>
                <!-- Modal footer-->
                <div class="modal-footer">
                    <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button id="btnGuardarLocalizacion" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Fin Georeferencia-->


    if (ViewBag.permiso == "Asignar")
    {
        <div class="row">
            <div class="col text-right">
                <button id="btnAsignarResponsable" type="button" class="btn btn-primary"><i class="fa fa-cogs"></i> Asignar responsable</button>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="mdlAsignarResposable" tabindex="-1" role="dialog" aria-labelledby="resposableModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Asignar responsable</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col">
                                <label for="slcUsuarioAsginar">Usuario a asignar</label>
                                <select class="form-control" id="slcUsuarioAsignar">
                                    <option value="0">Seleccione</option>
                                    @foreach (var adm in ViewBag.Administradores)
                                    {
                                        <option value="@adm.id">@adm.nombre @adm.apellido</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="btnAsignarDiagnostico" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="card border-secondary top-space30">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="tblRequisitos" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="row top-space30">
        <div class="col text-right">
            <button id="btnCerrarEtapaVerificacion" type="button" class="btn btn-primary"><i class="fa fa-cog"></i> Verificación completa</button>
        </div>
    </div>

    <br />

    <!-- Modal -->
    <div class="modal fade" id="verificacionModal" tabindex="-1" role="dialog" aria-labelledby="comiteModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verificación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col" id="dvArchivosNecesarios">
                        </div>
                        <div class="col-1">
                            <button id="btnAddBorderOpcional" type="button" class="btn btn-outline-info btn-sm" style="position:absolute;bottom:0px;left:0px;"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div id="addDocumento" class="card border border-info top-space30">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <select id="slcTipoDocumentoOpcional" class="form-control">
                                        <option value="0">Tipo del documento</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <input type="text" id="txtNombreDocumentoOpcional" class="form-control" placeholder="Nombre de documento" />
                                </div>
                                <div class="col text-center">
                                    <button id="btnAddOpcional" type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnGuardarCerrarVerificacion" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Loading-->
    <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>


}

@section js{
    <script src="~/js/Convocatoria/postulanteVerificacion.js"></script>
    <script src="~/js/Direccion/Geolocalizacion.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRzO9LJBjQiUJWwKXCV7ULT-EpfQxVGPk">
    </script>

}