﻿@{
    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <input type="hidden" id="txtIdPostulante" value="@ViewBag.postulante.id" />

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Postulantes", "Convocatoria", new { id = ViewBag.convocatoria.id })">Postulantes</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.postulante.etapaPostulacion</div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col">
            <p>Descargar contrato: <button type="button" id="btnDownloadContrato" class="btn btn-primary"><i class="fa fa-download"></i></button></p>
        </div>
    </div>
    <div class="row top-space">
        <div class="col-6">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="fleArchivoContrato" aria-describedby="btnSubirFinalizar">
                    <label class="custom-file-label" for="fleArchivoContrato">Subir contrato firmado</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="btnSubirFinalizar">Finalizar</button>
                </div>
            </div>
        </div>
    </div>
}

@section js{
    <script src="~/js/Convocatoria/postulanteContrato.js"></script>
}
