﻿@{
    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("convocatorias","Convocatoria")">Convocatorias</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;"></div>
    </div>

    <hr />
        <div class="card border-secondary top-space30">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table id="tblPostulaciones" class="table table-bordered" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
}

@section js{
    <script src="~/js/Convocatoria/postulantes.js"></script>
}
