﻿@{
    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <input type="hidden" id="txtIdPostulante" value="@ViewBag.postulante.id" />
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Postulantes","Convocatoria",new { id = ViewBag.convocatoria.id })">Postulantes</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.postulante.etapaPostulacion</div>
    </div>
    <hr />

    <div class="row">
        <div class="col-2">@ViewBag.postulante.emprendedor</div>
        <div class="col">Emprendimiento: @ViewBag.postulante.emprendimiento</div>
    </div>


    <div class="card border-secondary top-space30">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="tblDocumentosAprobar" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-space30">
        <div class="col text-right">
            <button id="btnCerrarEtapa" type="button" class="btn btn-primary"><i class="fa fa-cog"></i> Cerrar etapa</button>
        </div>
    </div>
    <br />



    <!-- Modal -->
    <div class="modal fade" id="mdlSubirDocumento" tabindex="-1" role="dialog" aria-labelledby="mdlSubirDocumento" aria-hidden="true" data-iddoccargado="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Subir documento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fleArchivo" aria-describedby="inputGroupFileAddon04">
                                    <label id="lblListaArchivo" class="custom-file-label" for="fleArchivo">Escoja el archivo</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row top-space">
                        <div class="col">
                            <input type="text" id="txtObservacionArchivo" class="form-control" value="" placeholder="Observaciones (opcional)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnSubirArchivo" type="button" class="btn btn-primary"><i class="fa fa-upload"></i> Subir</button>
                </div>
            </div>
        </div>
    </div>
}

@section js{
    <script src="~/js/Convocatoria/postulanteAprobarDatosFinales.js"></script>
}
