﻿
@{
    ViewBag.Title = "Convocatoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.convocatoria.id" />
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("convocatorias","Convocatoria")">Convocatorias</a>
        </li>
    </ol>

    <div class="row">
        <div class="col">
            <h4 class="titlePage">@ViewBag.convocatoria.nombre</h4>
        </div>
        <div class="col text-right text-info" style="padding-right:20px;">@ViewBag.convocatoria.Etapas.nombre</div>
    </div>


    <hr />
    <div class="card border-secondary top-space30">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="tblPostulaciones" class="table table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="row top-space30">
        <div class="col text-right">
            <button id="btnCerrarEtapa" type="button" class="btn btn-primary"><i class="fa fa-cog"></i> Cerrar etapa</button>
        </div>
    </div>
        <br />


        
        <!-- Modal -->
        <div class="modal fade" id="prefactibilidadModal" tabindex="-1" role="dialog" aria-labelledby="prefactibilidadModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Prefactibilidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="uploadStatus"></div>
                        <form method="post" id="uploadPrefactibilidad" enctype="multipart/form-data" action="@Url.Action("GuardarPrefactibilidad","Convocatoria")">
                            <div class="row">
                                <div class="col" id="dvCalificaciones">

                                </div>
                            </div>
                            <div class="row top-space30">
                                <div class="col font-weight-bold">
                                    Total: <span id="spnTotal">0</span>
                                </div>
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="rdoEstadoAprueba" name="rdoEstado" class="custom-control-input" value="1" disabled="disabled" />
                                        <label class="custom-control-label" for="rdoEstadoAprueba">Aprueba</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="rdoEstadoNoAprueba" name="rdoEstado" value="0" class="custom-control-input"  disabled="disabled" />
                                        <label class="custom-control-label" for="rdoEstadoNoAprueba">No aprueba</label>
                                    </div>
                                </div>
                            </div>
                                <div class="row top-space">
                                    <div class="col">
                                        <input class="form-control" id="txtObservacionesPrefactibilidad" type="text" placeholder="Observaciones" />
                                    </div>
                                </div>
                                <div class="row top-space">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="fileArchivosSoporteGrupo">Archivos de soporte: </span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fileArchivosSoporte" aria-describedby="fileArchivosSoporteGrupo" multiple>
                                                <label class="custom-file-label" for="fileArchivosSoporte">...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="dvListaArchivos" class="col">

                                    </div>
                                </div>

</form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="btnGuardarPrefactibilidad" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
}


@section js{
    <script src="~/js/Convocatoria/prefactibilidad.js"></script>
}