﻿@using Emprende.Models
@model LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Convocatoria</title>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/css/sb-admin.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("verConvocatoria","Convocatoria")"><h2>@ViewBag.nombreConvocatoria</h2> </a>
        </li>
    </ol>

    <input type="hidden" id="txtIdEmprendimiento" value="@ViewBag.idEmprendimiento" />
    <input type="hidden" id="txtIdConvocatoria" value="@ViewBag.idConvocatoria" />
    <input type="hidden" id="txtHTML" value="@ViewBag.criterios" />



    <div class="espacioVertical"></div>

    <div class="card mb-3 espacioVertical">
        <div class="card-header">
            <div class="row">
                <h3 class="col-sm-12"> Descripcion</h3>
            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <p>@ViewBag.descripcionConvocatoria</p>

            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <h4 class="col-md-12">Fecha de cierre: @ViewBag.fechaCierre</h4>
            </div>
        </div>

    </div>




    <div class="card mb-3 espacioVertical">
        <div class="card-header">
            <div class="row">
                <h3 class="col-sm-12">Requisitos</h3>
            </div>
        </div>
        <div class="card-body ">
            <div class="row" id="divCriteriosConvocatoria">

            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>

    <div class="row espacioVertical">
        <div class="col-sm-6 text-right">
            <a class="btn btn-link btn-lg" id="btnDescargarBases" href="#"> <i class="fa fa-download"></i> Descargar bases </a>
        </div>
        @if (ViewBag.idEmprendimiento != 0)
        {
            <label class="form-check-label col-sm-6 espacioVertical">
                <input id="chckCondiciones" type="checkbox" nam class="form-check-input" value="">Acepto Condiciones
            </label>
            <div class="col-sm-6 offset-sm-3">
                <button class="btn btn-primary btn-block " id="btnPostularConEmprendimiento" type="button"> <i class="fa fa-check-circle"></i> Postular</button>
            </div>
        }

        else if (ViewBag.idEmprendimiento == 0 && ViewBag.idPersona != 0)
        {
            <label class="form-check-label col-sm-6 espacioVertical">
                <input id="chckCondiciones" type="checkbox" nam class="form-check-input" value="">Acepto Condiciones
            </label>
            <div class="col-sm-6 offset-sm-3">
                <button class="btn btn-primary btn-block " id="btnPostularSinEmprendimiento" type="button" data-toggle="modal" data-target="#modalEmprendimientosPersona"> <i class="fa fa-check-circle"></i> Postular</button>
            </div>
        }

        else if (ViewBag.idEmprendimiento == 0 && ViewBag.idPersona == 0)
        {
            <div class="col-sm-6 text-left">
                <button class="btn btn-primary btn-lg " id="btnPostularSinUsuario" type="button" data-toggle="modal" data-target="#modalEmprendimientosPersona"> <i class="fa fa-check-circle"></i> Postular</button>
            </div>
        }

    </div>

    <br />
    <br />

    @*<div class="row espacioVertical">
            <div class="col-sm-6 text-right">
                <a class="btn btn-link btn-lg" id="btnDescargarBases"> <i class="fa fa-download"></i> Descargar bases </a>
            </div>
            <div class="col-sm-6 text-left">
                <button class="btn btn-primary btn-lg " id="btnPostular" type="button" data-toggle="modal" data-target="#modalIniciarSesion"> <i class="fa fa-check-circle"></i> Postular</button>
            </div>
        </div>*@


    <!-- Modal Mis emprendimientos-->
    <div class="modal fade" id="modalEmprendimientosPersona" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header-->
                <div class="modal-header">
                    <h4 class="modal-title text-left">Mis Emprendimientos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <!-- Modal Body-->
                <div class="modal-body">
                    <div class="row form-group">
                        <input id="txtIdEmprendimiento" type="hidden" />
                        <label class="col-sm-3">Seleccione:</label>
                        <select id="slcEmprendimientosPersona" class="form-control col-sm-8"></select>
                    </div>
                </div>
                <!-- Modal footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="btnPostularConEmprendimiento" type="button" class="btn btn-primary"><i class="fa fa-check-circle"></i> Postular </button>
                </div>
            </div>

        </div>
    </div>

    @*modal inicio de sesion*@
    <div class="modal fade" id="modalIniciarSesion" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header-->
                <div class="modal-header">
                    @*<h4 class="modal-title text-left">Convocatoria</h4>*@
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <!-- Modal Body-->
                <div class="modal-body">
                    <div class="card card-login mx-auto mt-5">
                        <div class="card-header text-center">Emprendefe - Login</div>
                        <div class="card-body">
                            @using (Html.BeginForm("Login", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form", name = "test" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                                        <label for="inputEmail">Email address</label>-->
                                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Correo", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        @Html.LabelFor(m => m.Email, new { @class = "" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                        <label for="inputPassword">Password</label>-->
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Clave" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        @Html.LabelFor(m => m.Password, new { @class = "" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <!--<label>
                                            <input type="checkbox" value="remember-me">
                                            Remember Password
                                        </label>-->
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block" id="btnIniciarSension">Ingresar</button>
                            }
                            <br />
                            <div class="text-center">
                                <!--<a class="d-block small mt-3" href="register.html">Register an Account</a>
                                <a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
                                <button id="btnAbrirRegistro" class="btn-link btn btn-block " type="button" data-toggle="modal" data-target="#modalRegistrarUsuario"> Registrarse como nuevo usuario </button>
                                @*<p>@Html.ActionLink("Registrarse como nuevo usuario", "Register")</p>*@
                                <p>@Html.ActionLink("¿Olvidó su clave?", "ForgotPassword", "Account")</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer-->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>*@
                </div>
            </div>

        </div>
    </div>




    <!-- Modal Registro usuarios-->
    <div class="modal fade" id="modalRegistrarUsuario" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header-->
                <div class="modal-header">
                    @*<h4 class="modal-title text-left">Registro de usuarios</h4>*@
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <!-- Modal Body-->
                <div class="modal-body">
                    <div class="card card-login mx-auto mt-5">
                        <div class="card-header text-center">Emprendefe - Registro</div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-sm-4 offset-sm-1">Nombre:</label>
                                <label class="col-sm-4 offset-sm-2">Apellido:</label>
                            </div>
                            <div class="row">
                                <input class="col-sm-4 offset-sm-1 form-control" id="txtNombreUsuario" />
                                <input class="col-sm-4 offset-sm-2 form-control" id="txtApellidoUsuario" />
                            </div>
                            <div class="row">
                                <label class="col-sm-4 offset-sm-1">Cedula:</label>
                                <label class="col-sm-4 offset-sm-2">Telefono:</label>
                            </div>
                            <div class="row">
                                <input class="col-sm-4 offset-sm-1 form-control" id="txtCedulaUsuario" />
                                <input class="col-sm-4 offset-sm-2 form-control" id="txtTelefonoUsuario" />
                            </div>
                            <div class="row">
                                <label class="col-sm-4 offset-sm-1">Sexo:</label>
                                <label class="col-sm-4 offset-sm-2">Correo:</label>
                            </div>
                            <div class="row">
                                <select class="col-sm-4 offset-sm-1 form-control" id="txtSexoUsuario">
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                </select>
                                <input class="col-sm-4 offset-sm-2 form-control" id="txtCorreoUsuario" />
                            </div>
                            <div class="row">
                                <label class="col-sm-4 offset-sm-1">Ciudad:</label>
                                <label class="col-sm-4 offset-sm-2">Nacionalidad:</label>
                            </div>
                            <div class="row">
                                <select class="col-sm-4 offset-sm-1 form-control" id="txtCiudadUsuario">
                                    <option value="1">Quito</option>
                                    <option value="2">Guayaquil</option>
                                </select>
                                <select class="col-sm-4 offset-sm-2 form-control" id="txtNacionalidadUsuario">
                                    <option value="1">Ecuatoriano</option>
                                </select>
                            </div>
                            <div class="row">
                                <button id="btnRegistrar" type="button" class=" btn btn-primary btn-block espacioVertical"> Registrarse </button>
                                <button id="btnRegresar" class="btn-link btn btn-block espacioVertical" type="button" data-toggle="modal" data-target="#modalIniciarSesion">Regresar </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer-->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>*@
                </div>
            </div>
        </div>

    </div>


    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>

    <script type="text/javascript">
        var SITEROOT = '@System.Configuration.ConfigurationManager.AppSettings["SITEROOT"]';
    </script>
    <script src="~/js/sb-admin.min.js"></script>
    <script src="~/js/htclib.js"></script>
    <script src="~/js/Aplicacion/Aplicacion.js"></script>

    <script src="~/js/Convocatoria/VerConvocatoria.js"></script>
</body>

</html>















