﻿
@{
    ViewBag.Title = "Comité";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
}
@section js{
    <script src="~/vendor/dataTables/dataTables.buttons.min.js"></script>
    <script src="~/vendor/dataTables/jszip.min.js"></script>
    <script src="~/vendor/dataTables/buttons.html5.min.js "></script>
    <script src="~/js/Comite/Administrar.js"></script>
}

@*tabla comite*@
<div class="card mb-3 espacioVertical">
    <div class="card-header">
        <div class="row">
            <h3 class="col-sm-12"> Comité  </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row ">
            <div class="col text-left">
                <button class="btn btn-primary" id="btnAgregarMiembroComite" type="button" data-toggle="modal" data-target="#modalMiembroComite"> <i class="fa fa-plus-circle"></i> Agregar </button>
            </div>
        </div>
        <table id="tblMiembrosComite" class="table table-bordered espacioVertical" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Institución</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal Agregar Comite-->
<div class="modal fade" id="modalMiembroComite" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title text-left">Datos contacto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <!-- Modal Body-->
            <div class="modal-body">

                <div class="row form-group">

                    <div class="col-md-7">
                        <input type="hidden" id="txtIdMiembroComite" class="form-control" value="0" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtNombreComite" class="col-md-3 col-md-offset-1 control-label">Nombre:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtNombreComite" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtTelefonoComite" class="col-md-3 col-md-offset-1 control-label">Teléfono:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtTelefonoComite" class="form-control" />
                    </div>

                </div>
                <div class="row form-group">
                    <label for="txtEmailComite" class="col-md-3 col-md-offset-1 control-label">Email:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtEmailComite" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="txtInstitucionComite" class="col-md-3 col-md-offset-1 control-label">Institución:</label>
                    <div class="col-md-7">
                        <input type="text" id="txtInstitucionComite" class="form-control" />
                    </div>

                </div>

            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
                <button id="btnBorrarComite" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
                <button id="btnGuardarComite" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>
</div>
<!-- Fin Modal Agregar Comite-->