﻿
@{
    ViewBag.Title = "Postulaciones a revisar";
    Layout = "~/Views/Shared/_ComiteLayout.cshtml";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        Error: @ViewBag.error
    </div>
}
else
{
    <input type="hidden" id="txtIdPublico" value="@ViewBag.idPublico" />
    <div class="row top-space30">
        <div class="col">
            <h5>Evaluaciones pendientes para:  @ViewBag.nombre</h5>
        </div>
    </div>

    <hr />
    <div class="card border-secondary top-space30">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table id="tblPostulacionesComite" class="table table-bordered" width="100%">
                        <thead><tr><th>Convocatoria</th><th>Emprendimiento</th><th></th></tr></thead>
                        <tbody>
                            @foreach (var postul in ViewBag.postulaciones)
                            {
                                <tr>
                                    <td>@postul.convocatoria</td>
                                    <td><a href="@Url.Action("DescargarBriefEmprendedor","Postulacion")?idPostulacion=@postul.idPostulacion" target="_blank">@postul.nombre</a></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btnEvaluar" data-idcp="@postul.idComitePostulacion" data-tipo="@postul.idTipo" ><i class="fas fa-pencil-alt"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                ...
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mdlPreguntas" tabindex="-1" role="dialog" aria-labelledby="preguntasModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cuestionario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col">
                            <label for="txtObs">Observaciones / Recomendaciones:</label>
                            <input type="text" class="form-control" id="txtObs" name="txtObs" />
                        </div>
                    </div>
                    <div class="row top-space20">
                        <div class="col">
                            <div id="divEval">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnGuardarCuestionario" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                </div>-->
            </div>
        </div>
    </div>

}


@section js{
    <script src="~/js/Comite/Index.js"></script>
    <script src="~/js/SCO/Scoring.js"></script>
}

