﻿@{string urlEmprende = System.Configuration.ConfigurationManager.AppSettings["urlEmprende"];}
@{string SITEROOT = System.Configuration.ConfigurationManager.AppSettings["SITEROOT"];}

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Seguimientos</title>

    <link href="@urlEmprende/css/sb-admin.css" rel="stylesheet" />
    <link href="@urlEmprende/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="@urlEmprende/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="@urlEmprende/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@urlEmprende/vendor/datatables/jquery.dataTables.js"></script>
    <script src="@urlEmprende/vendor/datatables/dataTables.bootstrap4.js"></script>

    @*<script src="http://momentjs.com/downloads/moment.min.js"></script>*@

    <script src="~/Js/htclib.js"></script>
    <script src="~/Js/AcuerdoJS.js"></script>
    <script src="~/Js/SeguimientoJS.js"></script>
    <script src="~/Js/Seguimientos/Index.cshtml.js?v=1"></script>
    <script type="text/javascript">
        var SITEROOT = '@SITEROOT';
    </script>
</head>
<body style="margin:10px;">
    <div hidden>
        <label id="lblIdTipo">@ViewBag.entidad.idTipo</label>
        <label id="lblIdRef">@ViewBag.entidad.idRef</label>
        <label id="lblIdEntidad">@ViewBag.entidad.id</label>
    </div>
    <div>
        <h2>@ViewBag.entidad.nombre</h2>
    </div>
    <div id="DivAcuerdos">
        <!--Titulo-->
        <div class="row">
            <div class="col-12">
                <h3>Acuerdos</h3>
            </div>
        </div>
        <!--boton nuevo-->
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalNuevoAcuerdo">
                    Nuevo Acuerdo
                </button>
            </div>
        </div>
        <!--filtro-->
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" name="radioAcuerdos" value="0" checked>Pendientes
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" name="radioAcuerdos" value="1">Todos
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--Tabla-->
        <div>
            <div class="row">
                <div class="col-12">
                    <table id="tblAcuerdos" class="table table-striped"></table>
                </div>
            </div>
        </div>
    </div>

    <!--Inicio nuevo acuerdo-->
    <div class="modal" tabindex="-1" role="dialog" id="ModalNuevoAcuerdo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo acuerdo para: @ViewBag.entidad.nombre</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divNuevoAcuerdo">
                        <!--Nombre-->
                        <div class="form-group row">
                            <label for="txtNuevoAcuerdoNombre" class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtNuevoAcuerdoNombre" value="">
                            </div>
                        </div>
                        <!--Descripción-->
                        <div class="form-group row">
                            <label for="txtNuevoAcuerdoDescripcion" class="col-sm-3 col-form-label">Descripcion</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtNuevoAcuerdoDescripcion" value="">
                            </div>
                        </div>
                        <!--Responsable-->
                        @*<div class="form-group row">
                            <label for="slcNuevoAcuerdoResponsable" class="col-sm-3 col-form-label">Responsable</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="slcNuevoAcuerdoResponsable"></select>
                            </div>
                        </div>*@
                        <!--FechaFinal-->
                        <div class="form-group row">
                            <label for="txtNuevoAcuerdoFechaFinal" class="col-sm-3 col-form-label">Fecha final</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="txtNuevoAcuerdoFechaFinal" value="">
                            </div>
                        </div>
                        <!--KPI-->
                        <div class="form-group row">
                            <label for="txtNuevoAcuerdoKPI" class="col-sm-3 col-form-label">KPI</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtNuevoAcuerdoKPI" value="">
                            </div>
                        </div>
                        <!--Tipo-->
                        <div class="form-group row">
                            <label for="slcNuevoAcuerdoTipo" class="col-sm-3 col-form-label">Tipo</label>
                            <div class="col-sm-9">
                                <select id="slcNuevoAcuerdoTipo" class="form-control">
                                    <option value="0">Compra de activos</option>
                                    <option value="1">Compra de mercadería</option>
                                    <option value="2">Cumplimiento de metas</option>
                                </select>
                            </div>
                        </div>
                        <!--Periodicidad-->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label"><input type="checkbox" id="chkNuevoAcuerdoEsPeriodico" />&nbsp;Es Periódico</label>
                            <div class="col-sm-8">
                                <div class="input-group mb-3" id="divNuevoAcuerdoPeriodicidad" style="display:none;">
                                    <input type="text" class="form-control" aria-describedby="basic-addon2" id="txtNuevoAcuerdoPeriodicidad">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">días</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label><input type="checkbox" id="chkNuevoAcuerdoEsPeriodico" />&nbsp;Es Periódico</label>
                                <div id="divNuevoAcuerdoPeriodicidad" style="display:none;">
                                    <div class="form-group row">
                                        <label for="txtNuevoAcuerdoPeriodicidad" class="col-sm-3 col-form-label">Periodicidad</label>
                                        <div class="col-sm-9">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" aria-describedby="basic-addon2" id="txtNuevoAcuerdoPeriodicidad">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">días</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label><input type="checkbox" id="chkNuevoAcuerdoEsDatos" /> &nbsp;Registrar indicadores</label>
                                <div id="divNuevoAcuerdoIndicadores" style="display:none;">
                                    <div class="form-group row">
                                        <label for="txtNuevoAcuerdoIndicadores" class="col-sm-6 col-form-label">Indicadores</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="txtNuevoAcuerdoIndicadores" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label>
                                esEvidencia
                            </label>
                            <select id="slcNuevoAcuerdoEsEvidencia">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div>
                            <label><input type="checkbox" id="chkNuevoAcuerdoEsPlanAccion" />Es Plan Accion</label>
                            <div id="divNuevoAcuerdoPlanAccion" style="display:none;">
                                <label>
                                    idPlan
                                </label><input type="text" id="txtNuevoAcuerdoIdPlan" name="name" value="" />
                            </div>
                        </div>
                        <div>
                            <label><input type="checkbox" id="chkNuevoAcuerdoEsDocumentos" />Es documentos</label>
                        </div>
                        <div>
                            <label>esChecklist</label>
                            <select id="slcNuevoAcuerdoEsChecklist">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        -->
                    </div>
                    <div id="divNuevoSeguimiento">
                        <div><h5>Datos del próximo seguimiento</h5></div>
                        @*<div class="form-group row">
                            <label for="slcNuevoSegResponsable" class="col-sm-3 col-form-label">Responsable</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="slcNuevoSegResponsable"></select>
                            </div>
                        </div>*@
                        <div class="form-group row">
                            <label for="txtNuevoSegFechaPlan" class="col-sm-3 col-form-label">Fecha Planificada</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="txtNuevoSegFechaPlan" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtNuevoSegObjetivos" class="col-sm-3 col-form-label">Objetivos</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtNuevoSegObjetivos" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnNuevoAcuerdoGuardar" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin nuevo acuerdo-->
    <!--Inicio Hacer Seguimiento-->
    <div class="modal" tabindex="-1" role="dialog" id="ModalHacerSeguimiento">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><label id="lblHSNombreAcuerdo"></label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--campos fijos-->
                    <div id="divCamposFijos">
                        @*<div>
                            <label>Responsable: </label>
                            <label id="lblHSResponsable"></label>
                        </div>*@
                        <div>
                            <label>Fecha Planificada: </label>
                            <label id="lblHSFechaPlan"></label>
                        </div>
                        <div>
                            <label>Objetivos: </label>
                            <label id="lblHSObjetivos"></label>
                        </div>
                    </div>
                    <hr />
                    <!--campos variables-->
                    <div id="divCamposVariables">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">

                            </div>
                        </div>
                        <!--archivo-->
                        <div class="form-group row">
                            <label for="fileUpload" class="col-sm-3 col-form-label">Informe:</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Seleccionar&hellip;
                                            <input type="file" id="fileUpload" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                                @*<input type="file" name="file" class="form-control" id="fileUploadHSArchivoInforme" value="" />*@
                            </div>
                        </div>
                        <!--cumplimiento-->
                        <div class="form-group row">
                            <label for="slcHSCumplimiento" class="col-sm-3 col-form-label">Cumplimiento:</label>
                            <div class="col-sm-9">
                                <select id="slcHSCumplimiento" class="form-control">
                                    <option value="0">No cumplido</option>
                                    <option value="1">Cumplido parcial</option>
                                    <option value="2">Cumplido</option>
                                </select>
                            </div>
                        </div>
                        <!--avance-->
                        <div class="form-group row">
                            <label for="txtHSAvance" class="col-sm-3 col-form-label">Avance: </label>
                            <div class="col-sm-9">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" aria-describedby="basic-addon2" id="txtHSAvance">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--observaciones-->
                        <div class="form-group row">
                            <label for="txtHSObservaciones" class="col-sm-3 col-form-label">Observaciones: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtHSObservaciones" value="">
                            </div>
                        </div>
                        <!--indicadores-->
                        <!--<div class="form-group row">
                            <label class="col-sm-3 col-form-label">Indicadores: </label>
                            <div class="col-sm-9">
                                <div class="form-group row">
                                    <label for="txtHSIndVentas" class="col-sm-3 col-form-label">Ventas: </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtHSIndVentas" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtHSIndEmpleos" class="col-sm-3 col-form-label">Empleos: </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtHSIndEmpleos" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtHSIndUnidades" class="col-sm-3 col-form-label">Unidades: </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtHSIndUnidades" value="">
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div id="divHSError" class="text-danger"></div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div id="divHSLoading">
                            <img src="#" alt="Cargando.." />
                        </div>
                    </div>
                    <div class="row">
                        <div id="divHSFooterBotones">
                            <button type="button" id="btnHSGuardar" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin Hacer Seguimiento-->
    <!--Inicio Siguiente Seguimiento-->
    <div class="modal" tabindex="-1" role="dialog" id="ModalSiguienteSeguimiento">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Siguiente seguimiento para el acuerdo: <label id="lblSSNombreAcuerdo"></label></h5>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="radio-inline"><input type="radio" name="radioSiguiente" value="0" checked>Finalizar Acuerdo</label>
                        <label class="radio-inline"><input type="radio" name="radioSiguiente" value="1">Crear siguiente seguimiento</label>
                    </div>
                    <div id="divCerrarAcuerdo"></div>
                    <div id="divSiguienteSeguimiento">
                        <div><h5>Datos del próximo seguimiento</h5></div>
                        @*<div class="form-group row">
                            <label for="slcSigSegResponsable" class="col-sm-4 col-form-label">Responsable</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="slcSigSegResponsable"></select>
                            </div>
                        </div>*@
                        <div class="form-group row">
                            <label for="txtSigSegFechaPlanificada" class="col-sm-4 col-form-label">Fecha Planificada</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="txtSigSegFechaPlan" value="">
                            </div>
                        </div>
                        <div class="form-group row" id="divSigSegSugerenciaFecha" style="display:none">
                            <label class="col-sm-12" id="lblSigSegSugerenciaFecha"></label>
                        </div>
                        <div class="form-group row">
                            <label for="txtSigSegObjetivos" class="col-sm-4 col-form-label">Objetivos</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="txtSigSegObjetivos" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="divSSLoading">
                        <img src="#" alt="Cargando.." />
                    </div>
                    <div id="divSSError"></div>
                    <div id="divSSFooterBotones">
                        <button type="button" id="btnSSGuardar" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="vacíoSiguienteSeguimiento();">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin Siguiente Seguimiento-->
    <!--Inicio Postergar Seguimiento-->
    <div class="modal" tabindex="-1" role="dialog" id="ModalPostergarSeguimiento">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Postergar seguimiento para <label id="lblPSNombreAcuerdo"></label> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="txtPostNuevaFecha" class="col-sm-3 col-form-label">Nueva Fecha: </label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="txtPostNuevaFecha" value="">
                        </div>
                    </div>
                    <div id="divPostError"></div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div id="divPostLoading">
                            <img src="#" alt="Cargando..." />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <button type="button" id="btnPostGuardar" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin Postergar Seguimiento-->

</body>
</html>
